body {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 19px; }

body.starting-page {
  height: 100% !important; }

#startingpage {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow-x: hidden; }
  #startingpage #introduction {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 40px;
    display: table; }
    #startingpage #introduction .intro-content {
      display: table-cell;
      vertical-align: middle;
      height: 100%; }
      #startingpage #introduction .intro-content .c2c-logo {
        display: block;
        min-height: 150px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-image: url("images/startingpage/c2c-logo.png"); }
      #startingpage #introduction .intro-content p {
        margin-top: 20px;
        text-align: center; }
  #startingpage .content-container {
    padding: 0px;
    height: 100%; }
    #startingpage .content-container .black-transparency {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); }
    #startingpage .content-container .slider {
      height: 100%; }
      #startingpage .content-container .slider .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
        border: none; }
        #startingpage .content-container .slider .slide .image {
          display: block;
          height: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #startingpage .content-container .slider .slide .button {
          position: relative;
          position: absolute;
          width: 37.86%;
          display: inline-block;
          z-index: 10;
          top: 48%; }
          #startingpage .content-container .slider .slide .button:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 100%; }
          #startingpage .content-container .slider .slide .button > .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
          #startingpage .content-container .slider .slide .button:before {
            content: '';
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center top; }
          #startingpage .content-container .slider .slide .button.register {
            left: 9%; }
            #startingpage .content-container .slider .slide .button.register:before {
              content: '';
              display: block;
              background-image: url("../images/startingpage/explore-button.png"); }
          #startingpage .content-container .slider .slide .button.login {
            right: 9%; }
            #startingpage .content-container .slider .slide .button.login:before {
              content: '';
              display: block;
              background-image: url("../images/startingpage/login-button.png"); }
    #startingpage .content-container .slide-indicator {
      display: block;
      position: absolute;
      text-align: center;
      min-width: 100%;
      bottom: 11.5%; }
      #startingpage .content-container .slide-indicator span {
        margin: 0 4px;
        color: transparent;
        width: 8px;
        height: 8px;
        display: inline-block;
        background: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative; }
        #startingpage .content-container .slide-indicator span.active:after {
          content: '';
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          border: 1px solid #fff;
          background: none;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          margin-top: -6px;
          margin-left: -6px; }
      #startingpage .content-container .slide-indicator span:last-of-type {
        background: #cc2429; }
        #startingpage .content-container .slide-indicator span:last-of-type.active:after {
          border: 1px solid #cc2429; }
    #startingpage .content-container .buttons {
      padding: 0 35px;
      width: 100%;
      position: absolute;
      bottom: 25px; }
      #startingpage .content-container .buttons .left-button, #startingpage .content-container .buttons .right-button {
        display: inline-block;
        height: 42px;
        width: 49%;
        background-color: #ffffff; }
        #startingpage .content-container .buttons .left-button a, #startingpage .content-container .buttons .right-button a {
          font-family: "Neutraface2Display bold";
          color: #000000;
          text-decoration: none;
          text-align: center;
          line-height: 46px;
          display: block;
          text-transform: capitalize;
          letter-spacing: 3px;
          font-size: 12px; }
      #startingpage .content-container .buttons .right-button {
        float: right; }
        #startingpage .content-container .buttons .right-button a {
          font-family: "Neutraface2Display titling"; }

.profile-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50; }

#profile {
  overflow-x: hidden;
  width: 100%;
  height: initial;
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url("images/login/background.jpg");
  background-position: bottom center;
  padding-bottom: 20px; }
  #profile.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #profile .lost {
    font-size: 10px;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px; }
  #profile body {
    -webkit-overflow-scrolling: touch; }
  #profile .content-container {
    background-color: rgba(1, 1, 1, 0.75);
    padding: 11px 15px 10px 15px;
    margin: 56px auto 0 auto;
    max-width: 90%; }
    #profile .content-container h2 {
      text-align: center;
      color: #ffffff;
      margin: 5px 0px;
      font-size: 16px; }
      #profile .content-container h2.contact {
        margin-top: 18px;
        margin-bottom: 0; }
    #profile .content-container .close {
      position: absolute;
      right: 0px;
      top: -25px; }
    #profile .content-container form input {
      height: 40px;
      width: 100%;
      background-color: #c5c8ca;
      border-radius: 0px;
      color: #454545;
      border: none;
      padding: 10px;
      font-family: "Helvetica";
      line-height: 25px;
      font-size: 12px; }
      #profile .content-container form input::-webkit-input-placeholder {
        /* WebKit browsers */
        line-height: 29px;
        font-family: "Neutraface2Display bold";
        letter-spacing: 3px;
        text-transform: uppercase; }
      #profile .content-container form input.submit {
        display: block;
        height: 40px;
        width: 100%;
        background-color: #c5c8ca;
        color: #454545;
        margin-top: 4px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Neutraface2Display titling";
        letter-spacing: 3px; }
        #profile .content-container form input.submit.ng-valid {
          background-color: #ebedee; }
    #profile .content-container form #change-password {
      margin: 15px 0px;
      background-color: #ebedee;
      font-family: "Neutraface2Display titling";
      letter-spacing: 3px;
      line-height: 25px;
      border-radius: 0px; }
    #profile .content-container form #fullname, #profile .content-container form #email, #profile .content-container form #password, #profile .content-container form #password-old, #profile .content-container form #password-new, #profile .content-container form #password-repeat {
      margin-top: 4px;
      line-height: 25px; }
    #profile .content-container form #password-old {
      margin-top: 14px; }
    #profile .content-container form #password-old, #profile .content-container form #password-new, #profile .content-container form #password-repeat {
      background-color: #ffffff; }
    #profile .content-container form .disabled-password.show {
      visibility: visible; }
    #profile .content-container form .disabled-password.hide {
      visibility: hidden;
      display: none; }
    #profile .content-container form .change-password.show {
      visibility: hidden;
      display: none; }
    #profile .content-container form .change-password.hide {
      visibility: visible; }
    #profile .content-container form .buttons.option1 .status-message {
      color: #3fbb3f;
      text-align: center;
      text-transform: uppercase;
      font-family: "Neutraface2Display bold"; }
    #profile .content-container form .buttons.option1.show {
      visibility: visible; }
    #profile .content-container form .buttons.option1.hide {
      visibility: hidden;
      display: none; }
    #profile .content-container form .buttons.option1 .btn {
      background-color: #ebedee;
      color: #454545; }
    #profile .content-container form .buttons.option2 .btn {
      display: inline-block;
      width: 48%;
      width: calc(50% - 8px);
      margin-bottom: 20px; }
      #profile .content-container form .buttons.option2 .btn.left {
        float: left; }
      #profile .content-container form .buttons.option2 .btn.right {
        float: right; }
    #profile .content-container form .buttons.option2.show {
      visibility: hidden;
      display: none; }
    #profile .content-container form .buttons.option2.hide {
      visibility: visible; }
    #profile .content-container .contact-section {
      display: inline-block;
      width: 100%; }
      #profile .content-container .contact-section ul.circle-links li {
        border-bottom: 0px solid #cbcbcc;
        display: inline-block;
        width: 33.3%;
        padding: 10px; }
        #profile .content-container .contact-section ul.circle-links li.first, #profile .content-container .contact-section ul.circle-links li.second {
          float: left; }
        #profile .content-container .contact-section ul.circle-links li.third {
          float: right; }
        #profile .content-container .contact-section ul.circle-links li a {
          color: white;
          text-align: center;
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          font-family: "Neutraface2Display bold";
          letter-spacing: 2px;
          font-size: 10px;
          line-height: 13px; }
          #profile .content-container .contact-section ul.circle-links li a img {
            width: 100%;
            height: auto;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
    #profile .content-container .buttons {
      padding-top: 5px;
      clear: both;
      display: inline-block;
      width: 100%; }
      #profile .content-container .buttons.bottom {
        padding-top: 0; }
      #profile .content-container .buttons a.btn, #profile .content-container .buttons a.btn-red {
        display: block;
        height: 37px;
        width: 100%;
        background-color: transparent;
        color: #fff;
        margin-top: 4px;
        line-height: 37px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Neutraface2Display titling";
        letter-spacing: 3px;
        font-size: 11px; }
      #profile .content-container .buttons a.btn-red {
        background-color: #a91215;
        color: white; }
      #profile .content-container .buttons.option2 p {
        margin-bottom: 16px; }
      #profile .content-container .buttons.option2 .btn {
        background-color: #fff;
        color: black;
        width: 47%; }
        #profile .content-container .buttons.option2 .btn.left {
          float: left; }
        #profile .content-container .buttons.option2 .btn.right {
          float: right; }

#popup {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

#mainmenu.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s; }

#mainpage {
  overflow-x: hidden;
  height: 100%;
  width: 100%; }
  #mainpage body {
    -webkit-overflow-scrolling: touch; }
  #mainpage .banner-image h1.pagetitle {
    text-align: center;
    color: #01AEEF;
    font-family: "neutraface2display titling";
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px white; }
  #mainpage .menu-list ul {
    padding: 20px; }
    #mainpage .menu-list ul li {
      display: block;
      height: 70px;
      border-bottom: 1px solid #efeff0;
      background-repeat: no-repeat;
      background-size: 45px;
      background-position: center left; }
      #mainpage .menu-list ul li a {
        background-image: url("images/custom-icons/arrow-icon.png");
        background-position: center right;
        background-repeat: no-repeat;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding-left: 60px;
        padding-right: 20px;
        color: black;
        display: table; }
        #mainpage .menu-list ul li a span {
          display: table-cell;
          vertical-align: middle; }
      #mainpage .menu-list ul li.first {
        border-top: 1px solid #efeff0; }

body#top {
  overflow-x: hidden; }

.single-page {
  overflow-x: hidden;
  height: 100%;
  width: 100%; }
  .single-page.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  .single-page .text-content {
    -webkit-transform: translate3d(0, 0, 0);
    padding: 20px; }

.blue-box {
  -webkit-transform: translate3d(0, 0, 0);
  background-color: #04adee;
  display: block;
  min-height: 50px;
  padding-top: 20px; }
  .blue-box p {
    padding: 0px 20px;
    padding-bottom: 20px;
    color: #ffffff; }

.banner-image {
  -webkit-transform: translate3d(0, 0, 0);
  height: 150px;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  display: table;
  width: 100%; }

.content-container {
  position: relative;
  padding: 0px 20px; }
  .content-container .title-section {
    padding: 0 0 20px 0px;
    border-bottom: 1px solid #efeff0; }
  .content-container ul.menu {
    -webkit-transform: translate3d(0, 0, 0); }
    .content-container ul.menu li.menu-item {
      -webkit-tap-highlight-color: transparent;
      padding: 20px 0px;
      display: block;
      border-bottom: 1px solid #efeff0;
      background-repeat: no-repeat;
      background-size: 55px;
      background-position: center left;
      position: relative; }
  .content-container .typography.hidden {
    display: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6F6F6F; }

.scenario-list ul, .question-list ul {
  -webkit-transform: translate3d(0, 0, 0);
  padding: 0px 20px; }
  .scenario-list ul li.keypoint-item, .question-list ul li.keypoint-item {
    padding: 20px 0px;
    display: block;
    border-bottom: 1px solid #efeff0;
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: center left; }
    .scenario-list ul li.keypoint-item a, .question-list ul li.keypoint-item a {
      background-image: url("images/custom-icons/arrow-icon.png");
      background-position: center right;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      padding-right: 20px; }

.grey-box {
  background-color: rgba(1, 1, 1, 0.75);
  margin: 0px 20px;
  margin-top: 60px;
  padding: 15px;
  padding-top: 0px; }
  .grey-box .content-position h3 {
    color: #ffffff;
    text-align: center;
    padding: 30px; }
  .grey-box .content-position .buttons a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 6px;
    background-color: #ebedee;
    border-radius: 0px;
    font-family: "Neutraface2Display titling";
    letter-spacing: 3px;
    line-height: 25px;
    padding: 10px; }

#dosdonts .content-container ul.menu {
  -webkit-transform: translate3d(0, 0, 0); }
  #dosdonts .content-container ul.menu li.menu-item {
    background-image: url("images/custom-icons/dropdown-icon.png");
    background-position: top 50% right 0;
    background-size: 18px;
    padding: 0;
    padding-bottom: 8px; }
    #dosdonts .content-container ul.menu li.menu-item.toggle {
      background-image: none; }
    #dosdonts .content-container ul.menu li.menu-item div:first-child {
      padding-top: 20px;
      padding-bottom: 5px; }
    #dosdonts .content-container ul.menu li.menu-item.keypoint-item {
      padding: 20px 0; }

#dosdonts .remove-arrow {
  background-image: none !important; }

iframe {
  overflow: hidden;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.unselectable * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.scroll-bounce {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important; }

.blur-toggle {
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear; }
  .blur-toggle.blur-on {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px); }
  .blur-toggle.blur-off {
    -webkit-filter: blur(0px) !important;
    -moz-filter: blur(0px) !important;
    -ms-filter: blur(0px) !important;
    -o-filter: blur(0px) !important;
    filter: blur(0px) !important; }

#scenarios {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }
  #scenarios.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }

#scenario {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }
  #scenario.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #scenario .hidden {
    display: none; }

#journals {
  overflow-x: hidden;
  height: 100%;
  width: 100%; }
  #journals .pagetitle {
    color: #01AEEF;
    font-family: "neutraface2display titling";
    text-shadow: 0px 0px 30px white; }
  #journals.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #journals .banner-image a.journal-icon {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/custom-icons/journal-icon.png");
    position: absolute;
    right: 20px;
    padding-bottom: 0;
    height: 42px;
    width: 42px;
    top: 50%;
    margin-top: -21px;
    z-index: 199;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  #journals .journal-list {
    -webkit-transform: translate3d(0, 0, 0); }
    #journals .journal-list ul {
      padding: 20px; }
      #journals .journal-list ul li {
        display: block;
        border-bottom: 1px solid #cbcbcc;
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: center left; }
        #journals .journal-list ul li a {
          background-image: url("images/custom-icons/arrow-icon.png");
          background-position: center right;
          background-repeat: no-repeat;
          text-decoration: none;
          width: 100%;
          height: 100%;
          display: block;
          color: black;
          padding: 14px 0px; }
          #journals .journal-list ul li a .journal-title {
            font-size: 16px;
            padding-right: 24px;
            word-wrap: break-word; }
          #journals .journal-list ul li a .journal-date {
            font-weight: bold;
            color: #575757;
            margin-top: 8px; }
        #journals .journal-list ul li.first {
          border-top: 1px solid #cbcbcc; }

#journal {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative; }
  #journal.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #journal nav {
    position: relative; }
    #journal nav .back-icon {
      position: absolute;
      z-index: 99; }
  #journal .banner-image {
    height: 90px;
    margin-top: 0; }
  #journal #exitsave {
    margin-top: 10px; }
  #journal .options-position {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    margin: auto;
    height: 42px; }
  #journal .email-icon, #journal .save-icon, #journal .delete-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;
    display: inline-block; }
  #journal .email-icon {
    background-image: url("images/custom-icons/icon_email.png"); }
  #journal .save-icon {
    background-image: url("images/custom-icons/icon_save.png");
    margin-left: 10px; }
  #journal .delete-icon {
    background-image: url("images/custom-icons/icon_delete.png");
    position: absolute;
    bottom: 0;
    top: 0;
    right: 15px;
    margin: auto; }
  #journal .journal form {
    width: 100%;
    padding: 15px; }
    #journal .journal form #title {
      display: block;
      width: 100%;
      height: auto;
      padding: 10px;
      resize: none;
      overflow: auto;
      border: none; }
      #journal .journal form #title::-webkit-input-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #title::-moz-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #title:-ms-input-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #title input:-moz-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
    #journal .journal form #content {
      display: block;
      width: 100%;
      height: 100%;
      resize: none;
      padding: 10px;
      border: none; }
      #journal .journal form #content::-webkit-input-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #content::-moz-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #content:-ms-input-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
      #journal .journal form #content input:-moz-placeholder {
        color: #535353;
        text-transform: uppercase;
        font-family: "Neutraface2Display bold";
        letter-spacing: 2px; }
    #journal .journal form hr {
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-top: 1px solid #cbcbcc; }
  #journal #savePopup, #journal #exitPopup, #journal #confirmPopup, #journal #deletePopup {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
    visibility: hidden; }
    #journal #savePopup .popupPosition, #journal #exitPopup .popupPosition, #journal #confirmPopup .popupPosition, #journal #deletePopup .popupPosition {
      position: relative;
      width: 100%;
      height: 100%; }
      #journal #savePopup .popupPosition .savePopupBox, #journal #savePopup .popupPosition .exitPopupBox, #journal #savePopup .popupPosition .confirmPopupBox, #journal #savePopup .popupPosition .deletePopupBox, #journal #exitPopup .popupPosition .savePopupBox, #journal #exitPopup .popupPosition .exitPopupBox, #journal #exitPopup .popupPosition .confirmPopupBox, #journal #exitPopup .popupPosition .deletePopupBox, #journal #confirmPopup .popupPosition .savePopupBox, #journal #confirmPopup .popupPosition .exitPopupBox, #journal #confirmPopup .popupPosition .confirmPopupBox, #journal #confirmPopup .popupPosition .deletePopupBox, #journal #deletePopup .popupPosition .savePopupBox, #journal #deletePopup .popupPosition .exitPopupBox, #journal #deletePopup .popupPosition .confirmPopupBox, #journal #deletePopup .popupPosition .deletePopupBox {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        padding: 16px;
        background-color: #00acec;
        position: absolute;
        top: 0;
        width: 100%; }
        #journal #savePopup .popupPosition .savePopupBox .text-container p, #journal #savePopup .popupPosition .exitPopupBox .text-container p, #journal #savePopup .popupPosition .confirmPopupBox .text-container p, #journal #savePopup .popupPosition .deletePopupBox .text-container p, #journal #exitPopup .popupPosition .savePopupBox .text-container p, #journal #exitPopup .popupPosition .exitPopupBox .text-container p, #journal #exitPopup .popupPosition .confirmPopupBox .text-container p, #journal #exitPopup .popupPosition .deletePopupBox .text-container p, #journal #confirmPopup .popupPosition .savePopupBox .text-container p, #journal #confirmPopup .popupPosition .exitPopupBox .text-container p, #journal #confirmPopup .popupPosition .confirmPopupBox .text-container p, #journal #confirmPopup .popupPosition .deletePopupBox .text-container p, #journal #deletePopup .popupPosition .savePopupBox .text-container p, #journal #deletePopup .popupPosition .exitPopupBox .text-container p, #journal #deletePopup .popupPosition .confirmPopupBox .text-container p, #journal #deletePopup .popupPosition .deletePopupBox .text-container p {
          color: white;
          text-align: center;
          line-height: 18px;
          letter-spacing: 1px;
          margin: 5px auto 10px auto; }
        #journal #savePopup .popupPosition .savePopupBox .text-container h3, #journal #savePopup .popupPosition .exitPopupBox .text-container h3, #journal #savePopup .popupPosition .confirmPopupBox .text-container h3, #journal #savePopup .popupPosition .deletePopupBox .text-container h3, #journal #exitPopup .popupPosition .savePopupBox .text-container h3, #journal #exitPopup .popupPosition .exitPopupBox .text-container h3, #journal #exitPopup .popupPosition .confirmPopupBox .text-container h3, #journal #exitPopup .popupPosition .deletePopupBox .text-container h3, #journal #confirmPopup .popupPosition .savePopupBox .text-container h3, #journal #confirmPopup .popupPosition .exitPopupBox .text-container h3, #journal #confirmPopup .popupPosition .confirmPopupBox .text-container h3, #journal #confirmPopup .popupPosition .deletePopupBox .text-container h3, #journal #deletePopup .popupPosition .savePopupBox .text-container h3, #journal #deletePopup .popupPosition .exitPopupBox .text-container h3, #journal #deletePopup .popupPosition .confirmPopupBox .text-container h3, #journal #deletePopup .popupPosition .deletePopupBox .text-container h3 {
          font-size: 20px;
          color: white;
          text-align: center;
          line-height: 23px; }
        #journal #savePopup .popupPosition .savePopupBox .button, #journal #savePopup .popupPosition .exitPopupBox .button, #journal #savePopup .popupPosition .confirmPopupBox .button, #journal #savePopup .popupPosition .deletePopupBox .button, #journal #exitPopup .popupPosition .savePopupBox .button, #journal #exitPopup .popupPosition .exitPopupBox .button, #journal #exitPopup .popupPosition .confirmPopupBox .button, #journal #exitPopup .popupPosition .deletePopupBox .button, #journal #confirmPopup .popupPosition .savePopupBox .button, #journal #confirmPopup .popupPosition .exitPopupBox .button, #journal #confirmPopup .popupPosition .confirmPopupBox .button, #journal #confirmPopup .popupPosition .deletePopupBox .button, #journal #deletePopup .popupPosition .savePopupBox .button, #journal #deletePopup .popupPosition .exitPopupBox .button, #journal #deletePopup .popupPosition .confirmPopupBox .button, #journal #deletePopup .popupPosition .deletePopupBox .button {
          letter-spacing: 3px;
          background-color: rgba(255, 255, 255, 0.9);
          font-family: "Neutraface2Display bold";
          text-transform: uppercase;
          margin-bottom: 5px; }
          #journal #savePopup .popupPosition .savePopupBox .button.save, #journal #savePopup .popupPosition .savePopupBox .button.cancelsave, #journal #savePopup .popupPosition .savePopupBox .button.delete, #journal #savePopup .popupPosition .exitPopupBox .button.save, #journal #savePopup .popupPosition .exitPopupBox .button.cancelsave, #journal #savePopup .popupPosition .exitPopupBox .button.delete, #journal #savePopup .popupPosition .confirmPopupBox .button.save, #journal #savePopup .popupPosition .confirmPopupBox .button.cancelsave, #journal #savePopup .popupPosition .confirmPopupBox .button.delete, #journal #savePopup .popupPosition .deletePopupBox .button.save, #journal #savePopup .popupPosition .deletePopupBox .button.cancelsave, #journal #savePopup .popupPosition .deletePopupBox .button.delete, #journal #exitPopup .popupPosition .savePopupBox .button.save, #journal #exitPopup .popupPosition .savePopupBox .button.cancelsave, #journal #exitPopup .popupPosition .savePopupBox .button.delete, #journal #exitPopup .popupPosition .exitPopupBox .button.save, #journal #exitPopup .popupPosition .exitPopupBox .button.cancelsave, #journal #exitPopup .popupPosition .exitPopupBox .button.delete, #journal #exitPopup .popupPosition .confirmPopupBox .button.save, #journal #exitPopup .popupPosition .confirmPopupBox .button.cancelsave, #journal #exitPopup .popupPosition .confirmPopupBox .button.delete, #journal #exitPopup .popupPosition .deletePopupBox .button.save, #journal #exitPopup .popupPosition .deletePopupBox .button.cancelsave, #journal #exitPopup .popupPosition .deletePopupBox .button.delete, #journal #confirmPopup .popupPosition .savePopupBox .button.save, #journal #confirmPopup .popupPosition .savePopupBox .button.cancelsave, #journal #confirmPopup .popupPosition .savePopupBox .button.delete, #journal #confirmPopup .popupPosition .exitPopupBox .button.save, #journal #confirmPopup .popupPosition .exitPopupBox .button.cancelsave, #journal #confirmPopup .popupPosition .exitPopupBox .button.delete, #journal #confirmPopup .popupPosition .confirmPopupBox .button.save, #journal #confirmPopup .popupPosition .confirmPopupBox .button.cancelsave, #journal #confirmPopup .popupPosition .confirmPopupBox .button.delete, #journal #confirmPopup .popupPosition .deletePopupBox .button.save, #journal #confirmPopup .popupPosition .deletePopupBox .button.cancelsave, #journal #confirmPopup .popupPosition .deletePopupBox .button.delete, #journal #deletePopup .popupPosition .savePopupBox .button.save, #journal #deletePopup .popupPosition .savePopupBox .button.cancelsave, #journal #deletePopup .popupPosition .savePopupBox .button.delete, #journal #deletePopup .popupPosition .exitPopupBox .button.save, #journal #deletePopup .popupPosition .exitPopupBox .button.cancelsave, #journal #deletePopup .popupPosition .exitPopupBox .button.delete, #journal #deletePopup .popupPosition .confirmPopupBox .button.save, #journal #deletePopup .popupPosition .confirmPopupBox .button.cancelsave, #journal #deletePopup .popupPosition .confirmPopupBox .button.delete, #journal #deletePopup .popupPosition .deletePopupBox .button.save, #journal #deletePopup .popupPosition .deletePopupBox .button.cancelsave, #journal #deletePopup .popupPosition .deletePopupBox .button.delete {
            font-family: "Neutraface2Display titling";
            font-weight: bold; }

#questions {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }
  #questions body {
    -webkit-overflow-scrolling: touch; }
  #questions.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #questions h3 {
    color: #04adee;
    padding-left: 23px;
    position: relative; }
    #questions h3 span {
      position: absolute;
      left: 0; }
  #questions .keypoint-item h3 {
    margin-bottom: 6px; }

#question {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }
  #question .description {
    margin-top: 10px; }
    #question .description .text {
      padding-top: 28px;
      margin-top: -28px;
      background: white;
      position: relative;
      z-index: 10; }
  #question .menu-item {
    position: relative;
    padding: 20px 0 !important;
    border-bottom: 1px solid #efeff0;
    background-image: url("images/custom-icons/dropdown-icon.png");
    background-position: top 50% right 20px;
    background-size: 18px;
    background-repeat: no-repeat; }
    #question .menu-item h3, #question .menu-item h4 {
      padding-right: 20px; }
  #question .banner-video {
    margin-top: 50px; }
  #question body {
    -webkit-overflow-scrolling: touch; }
  #question .title-section {
    padding-left: 20px;
    padding-right: 20px; }
  #question.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #question .hidden {
    display: none; }
  #question #ytplayer {
    display: none; }
  #question .content-container ul.menu {
    -webkit-transform: translate3d(0, 0, 0); }
    #question .content-container ul.menu li.menu-item {
      background-image: url("images/custom-icons/dropdown-icon.png");
      background-position: top 50% right 20px;
      background-size: 18px;
      padding: 0;
      padding-bottom: 8px; }
      #question .content-container ul.menu li.menu-item.toggle {
        background-image: none; }
      #question .content-container ul.menu li.menu-item div:first-child {
        padding-top: 20px;
        padding-bottom: 5px; }
      #question .content-container ul.menu li.menu-item.keypoint-item {
        padding: 20px 0; }
  #question .description > * {
    padding-left: 20px;
    padding-right: 20px; }
  #question .description .video {
    padding-left: 0 !important;
    padding-right: 0 !important; }

.menu-item.toggle {
  background-image: none !important; }

.wistia_click_to_play {
  border: none !important;
  width: 100% !important; }

#whenamicoach {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }
  #whenamicoach .menu-item {
    position: relative;
    padding: 20px 0 !important;
    border-bottom: 1px solid #efeff0;
    background-image: url("images/custom-icons/dropdown-icon.png");
    background-position: top 50% right 20px;
    background-size: 18px;
    background-repeat: no-repeat; }
  #whenamicoach .banner-video {
    margin-top: 50px; }
  #whenamicoach body {
    -webkit-overflow-scrolling: touch; }
  #whenamicoach.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #whenamicoach .content-container .description {
    margin-top: 10px;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
    #whenamicoach .content-container .description > * {
      padding-left: 44px;
      padding-right: 20px; }
    #whenamicoach .content-container .description .video {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  #whenamicoach .content-container h3, #whenamicoach .content-container h4 {
    padding-right: 24px; }
  #whenamicoach .content-container h2.video-header {
    font-size: 28px;
    line-height: 30px; }
  #whenamicoach .content-container ul.menu {
    -webkit-transform: translate3d(0, 0, 0); }
    #whenamicoach .content-container ul.menu li.menu-item {
      background-image: url("images/custom-icons/dropdown-icon.png");
      background-position: top 50% right 20px;
      background-size: 18px;
      padding: 0;
      padding-bottom: 8px; }
      #whenamicoach .content-container ul.menu li.menu-item.toggle {
        background-image: none; }
      #whenamicoach .content-container ul.menu li.menu-item div:first-child {
        padding-top: 20px;
        padding-bottom: 5px; }
      #whenamicoach .content-container ul.menu li.menu-item.keypoint-item {
        padding: 20px 0; }

#dosdonts {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }
  #dosdonts .description {
    padding-left: 23px; }
  #dosdonts.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  #dosdonts .toggle-buttons {
    -webkit-transform: translate3d(0, 0, 0); }
    #dosdonts .toggle-buttons .toggle-button {
      -webkit-transform: translate3d(0, 0, 0); }
  #dosdonts .content-container ul {
    -webkit-transform: translate3d(0, 0, 0); }
    #dosdonts .content-container ul li h3 {
      padding-bottom: 0;
      padding-right: 24px; }
    #dosdonts .content-container ul li .point-list p {
      font-weight: bold; }

#fivestep {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }
  #fivestep.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }

.bio-page {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 0px;
  overflow-x: hidden; }
  .bio-page body {
    -webkit-overflow-scrolling: touch; }
  .bio-page.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s; }
  .bio-page .banner-image {
    height: 340px;
    margin-top: 0; }
    .bio-page .banner-image h1 {
      color: #062f4b;
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding-bottom: 50px;
      text-align: center; }
  .bio-page .text-content {
    padding: 20px; }

#register {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url("images/login/background.jpg");
  background-position: bottom center;
  overflow: hidden; }
  #register .content-container {
    position: relative;
    margin-top: 45px; }
    #register .content-container .close {
      position: absolute;
      right: 0px;
      top: -25px; }
  #register .denied h3 {
    color: #fff;
    font-weight: normal;
    margin: 15px 0; }
  #register .form {
    background-color: #452c8c;
    padding: 13px; }
    #register .form p {
      color: #fff; }
    #register .form h2 {
      text-align: center;
      color: #ffffff;
      margin: 15px 0px; }
    #register .form input {
      height: 40px;
      width: 100%;
      background-color: #c5c8ca;
      border-radius: 0px;
      color: #454545;
      border: none;
      padding: 10px;
      font-family: "Helvetica";
      line-height: 25px;
      font-size: 14px; }
      #register .form input::-webkit-input-placeholder {
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 24px; }
    #register .form .error-section {
      text-align: center;
      color: #ff8181; }
      #register .form .error-section .error b {
        font-weight: 700; }
    #register .form #register-submit {
      margin-top: 12px;
      background-color: #ebedee;
      font-family: "Neutraface2Display titling";
      letter-spacing: 3px;
      line-height: 25px;
      border-radius: 0px; }
    #register .form #firstname, #register .form #lastname, #register .form #email-register, #register .form #password {
      margin-top: 4px;
      line-height: 20px; }
    #register .form .form-options a, #register .form .form-options p {
      display: block;
      text-align: center;
      text-decoration: none;
      padding-top: 15px;
      color: white;
      line-height: 16px; }
    #register .form .buttons {
      margin: 25px 0; }
      #register .form .buttons a {
        margin-top: 12px;
        background-color: #edeaf4;
        font-family: "Neutraface2Display titling";
        letter-spacing: 3px;
        line-height: 25px;
        height: 40px;
        width: 100%;
        color: #454545;
        border: none;
        padding: 10px;
        font-size: 14px;
        border-radius: 0px;
        display: block;
        text-align: center;
        text-decoration: none; }

#TermsConditions {
  overflow-x: hidden;
  background-size: cover;
  background-image: url("images/login/background.jpg");
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
  height: 100%; }
  #TermsConditions .content-container {
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-table;
    z-index: 15;
    height: 100%; }
    #TermsConditions .content-container.animated {
      -webkit-animation-duration: 0.6s;
      animation-duration: 0.6s; }
  #TermsConditions h2 {
    margin: 10px 20px;
    margin-top: 40px;
    text-align: center; }
  #TermsConditions .close {
    position: absolute;
    top: 10px;
    right: 10px; }
  #TermsConditions .text-section {
    -webkit-transform: translate3d(0, 0, 0);
    background-color: transparent;
    padding: 25px 0px; }

#register-success, #register-error, #register-exists {
  display: none; }
  #register-success.animated, #register-error.animated, #register-exists.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }

.content-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  .content-section #guides {
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    color: white;
    display: table; }
    .content-section #guides nav {
      background-color: rgba(0, 0, 0, 0.22); }
    .content-section #guides .text-description {
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      width: 70%;
      text-align: center;
      margin: 0 auto;
      padding-top: 80px; }
      .content-section #guides .text-description h3 {
        margin-bottom: 40px; }
    .content-section #guides .menu-icon-position {
      position: absolute;
      top: -99px; }
      .content-section #guides .menu-icon-position .menu-icon {
        animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("images/custom-icons/menu-icon.png");
        width: 35px;
        height: 35px;
        display: inline-block;
        margin: 10px 0px;
        margin-left: 10px; }
    .content-section #guides .text-caption {
      position: absolute;
      display: inline-block;
      top: 0; }
      .content-section #guides .text-caption.left {
        top: 20px;
        left: 4px; }
      .content-section #guides .text-caption.right {
        top: 40px;
        right: 4px; }
      .content-section #guides .text-caption h3 {
        margin-bottom: 40px; }
      .content-section #guides .text-caption .top-left {
        background-image: url("images/guides/top-left.png");
        background-repeat: no-repeat;
        background-position: 30px;
        display: block; }
        .content-section #guides .text-caption .top-left .purple-tag {
          padding-top: 45px; }
          .content-section #guides .text-caption .top-left .purple-tag p {
            background-color: #652C91;
            padding: 10px 26px;
            border-radius: 10px; }
      .content-section #guides .text-caption .top-right {
        background-image: url("images/guides/top-right.png");
        background-repeat: no-repeat;
        background-position-x: 115px;
        display: block; }
        .content-section #guides .text-caption .top-right .purple-tag {
          padding-left: 20px;
          padding-top: 70px; }
          .content-section #guides .text-caption .top-right .purple-tag p {
            background-color: #652C91;
            padding: 10px 26px;
            border-radius: 10px; }
    .content-section #guides .button {
      display: table-cell;
      padding: 50px;
      vertical-align: middle; }
      .content-section #guides .button p {
        color: white;
        padding: 12px;
        letter-spacing: 3px;
        background-color: #4d4d4f;
        font-family: "Neutraface2Display titling"; }

#login {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url("images/login/background.jpg");
  background-position: bottom center;
  overflow: hidden; }
  #login .terms {
    color: #fff; }
  #login .content-container {
    position: relative;
    margin-top: 60px; }
    #login .content-container .close {
      position: absolute;
      right: 0px;
      top: -25px; }
    #login .content-container form {
      background-color: #452c8c;
      padding: 13px; }
      #login .content-container form p.remember {
        color: white;
        font-size: 10px;
        display: inline-block;
        vertical-align: top;
        padding-top: 17px;
        padding-left: 5px;
        letter-spacing: 3px;
        text-transform: uppercase; }
      #login .content-container form input {
        height: 40px;
        width: 100%;
        background-color: #c8c0dd;
        color: #454545;
        border: none;
        padding: 10px;
        line-height: 25px;
        font-family: "Helvetica";
        font-size: 14px;
        border-radius: 0px; }
        #login .content-container form input::-webkit-input-placeholder {
          letter-spacing: 3px;
          text-transform: uppercase;
          line-height: 24px; }
      #login .content-container form #remember-box {
        background-color: transparent;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 15px;
        margin-left: 12px;
        border: 1px solid #c8c0dd; }
        #login .content-container form #remember-box.checked {
          background-image: url("images/custom-icons/tick-icon.png");
          background-size: contain;
          background-repeat: no-repeat; }
      #login .content-container form #login-submit {
        margin-top: 12px;
        background-color: #edeaf4;
        font-family: "Neutraface2Display titling";
        letter-spacing: 3px;
        line-height: 25px; }
      #login .content-container form #password-login {
        margin-top: 4px;
        line-height: 25px; }
      #login .content-container form .form-options {
        padding: 11px 0px; }
        #login .content-container form .form-options .lost {
          text-decoration: none;
          color: white;
          font-size: 10px;
          float: left;
          letter-spacing: 3px;
          line-height: 12px; }
        #login .content-container form .form-options .register {
          text-decoration: none;
          font-size: 10px;
          float: right;
          color: white;
          letter-spacing: 3px;
          line-height: 12px; }

#LoginForgot, #LoginForgotSuccess {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-image: url("images/login/background.jpg");
  background-position: bottom center;
  overflow: hidden; }
  #LoginForgot .content-container, #LoginForgotSuccess .content-container {
    position: relative;
    margin-top: 45px;
    padding: 0px; }
    #LoginForgot .content-container .close, #LoginForgotSuccess .content-container .close {
      position: absolute;
      right: 0px;
      top: -25px; }
    #LoginForgot .content-container form, #LoginForgotSuccess .content-container form {
      background-color: rgba(1, 1, 1, 0.75);
      margin: 0px 25px;
      padding: 15px;
      padding-top: 1px; }
      #LoginForgot .content-container form h2, #LoginForgotSuccess .content-container form h2 {
        text-align: center;
        color: #ffffff;
        margin: 15px 0px;
        margin-bottom: 8px;
        width: 100%; }
      #LoginForgot .content-container form p, #LoginForgotSuccess .content-container form p {
        color: #ffffff;
        padding-bottom: 10px;
        text-align: center; }
      #LoginForgot .content-container form input, #LoginForgotSuccess .content-container form input {
        height: 40px;
        width: 100%;
        background-color: #c8c0dd;
        color: #454545;
        border: none;
        padding: 10px;
        line-height: 25px;
        font-family: "Helvetica";
        font-size: 14px;
        border-radius: 0px; }
        #LoginForgot .content-container form input::-webkit-input-placeholder, #LoginForgotSuccess .content-container form input::-webkit-input-placeholder {
          letter-spacing: 3px;
          text-transform: uppercase;
          line-height: 24px; }
      #LoginForgot .content-container form .done, #LoginForgotSuccess .content-container form .done {
        display: block;
        margin-top: 7px;
        height: 40px;
        width: 100%;
        background-color: #ebedee;
        border-radius: 0px;
        color: #454545;
        border: none;
        padding: 10px;
        font-family: "Neutraface2Display bold";
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 25px;
        font-size: 11px;
        text-decoration: none;
        text-align: center; }
      #LoginForgot .content-container form #forgot-submit, #LoginForgotSuccess .content-container form #forgot-submit {
        margin-top: 14px;
        background-color: #ebedee;
        border-radius: 0px;
        font-family: "Neutraface2Display titling";
        letter-spacing: 3px;
        line-height: 25px; }
      #LoginForgot .content-container form #email, #LoginForgotSuccess .content-container form #email {
        margin-top: 4px;
        line-height: 25px; }
      #LoginForgot .content-container form #forgot-resubmit, #LoginForgotSuccess .content-container form #forgot-resubmit {
        margin-top: 12px;
        font-size: 8px;
        background-color: #ebedee; }

#login-error {
  display: none; }
  #login-error.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }

.header-logo {
  height: 100%;
  max-height: 32px;
  margin: auto;
  position: absolute;
  left: 70px;
  right: 70px;
  top: 0;
  bottom: 0;
  z-index: 100; }

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 200;
  width: 100%; }
  header .dropdown {
    height: 0; }

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #6f235d;
  height: 50px;
  z-index: 200;
  width: 100%; }
  nav a.back-icon {
    background-size: 17px auto;
    background-repeat: no-repeat;
    background-image: url("images/custom-icons/back-icon.png");
    background-position: 13px center;
    width: 60px;
    height: 100%;
    display: inline-block; }
  nav a.profile-icon {
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-image: url("images/custom-icons/gear-icon.png");
    background-position: center;
    width: 60px;
    height: 100%;
    display: inline-block;
    float: right; }
  nav a.menu-icon {
    background-repeat: no-repeat;
    background-image: url("images/custom-icons/menu-icon.png");
    background-position: center;
    background-size: 25px auto;
    width: 60px;
    height: 100%;
    display: inline-block; }
  nav a.close-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/custom-icons/close-icon.png");
    width: 23px;
    height: 30px;
    display: inline-block;
    float: right;
    margin: 10px 0px;
    margin-right: 10px; }

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 150; }

.dropdown {
  position: relative;
  top: 50px; }
  .dropdown .dropdown-list {
    display: none;
    position: absolute;
    width: 290px;
    z-index: 1000;
    background-color: white;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.5); }
    .dropdown .dropdown-list ul li {
      background-image: url("images/custom-icons/arrow-icon2.png");
      background-position: center right;
      background-repeat: no-repeat;
      display: block;
      line-height: 50px;
      color: black;
      border-bottom: 1px solid #efeff0;
      height: 50px;
      padding-left: 15px; }
      .dropdown .dropdown-list ul li.first {
        border-top: 1px solid #efeff0; }
      .dropdown .dropdown-list ul li a {
        letter-spacing: 0.5px;
        font-family: "Helvetica";
        text-decoration: none;
        color: #424242;
        display: block;
        line-height: 50px; }
        .dropdown .dropdown-list ul li a.selected {
          font-weight: bold; }

.close-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100; }

.toggle-buttons {
  margin-top: 3px;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #386790; }
  .toggle-buttons .toggle-button {
    background-color: #fff;
    letter-spacing: 3px;
    color: #585858;
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-family: "Neutraface2Display titling"; }
    .toggle-buttons .toggle-button.left {
      float: left;
      border-right: 2px solid white; }
    .toggle-buttons .toggle-button.right {
      float: right;
      border-left: 2px solid white; }
    .toggle-buttons .toggle-button.selected {
      background-color: #386790;
      color: #fff; }

.button {
  color: #000000;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  display: block; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

iframe {
  max-width: 100%;
  width: 100%;
  display: block; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base Styles */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

body {
  font-family: "Helvetica";
  height: auto !important; }

a {
  color: inherit; }
  a:active {
    color: inherit; }

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto !important; }

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

::-webkit-input-placeholder {
  font-family: "Neutraface2Display bold"; }

::-moz-placeholder {
  font-family: "Neutraface2Display bold"; }

/* firefox 19+ */
:-ms-input-placeholder {
  font-family: "Neutraface2Display bold"; }

/* ie */
input:-moz-placeholder {
  font-family: "Neutraface2Display bold"; }

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-image: url("../images/icons/load-icon.gif");
  background-repeat: no-repeat;
  background-position: center; }

.no-padding {
  padding: 0 !important; }

.accordion-tab {
  padding: 0px 20px !important; }

.ui-icon-delete.close {
  background-color: #cc2429 !important; }

/* Main Colours */
@font-face {
  font-family: "Neutraface2Display bold";
  src: url("fonts/Neutraface%202%20Display/Neutraface2Display-Bold.otf"); }

@font-face {
  font-family: "Neutraface2Display titling";
  src: url("fonts/Neutraface%202%20Display/Neutraface2Display-Titling.otf"); }

@font-face {
  font-family: "Helvetica";
  src: url("fonts/Helvetica%20TTF/HelveticaNeueMedium.ttf"); }

/* Fonts */
.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

strong {
  font-weight: 700;
  font-size: inherit; }

h1, h2 {
  font-family: 'Neutraface2Display bold';
  text-transform: uppercase;
  letter-spacing: 3px; }

h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  color: #062f4b;
  font-family: "Neutraface2Display titling";
  text-transform: uppercase;
  display: block;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 10px; }
  h1 a {
    text-decoration: none;
    font-weight: 900;
    font-size: 34px;
    line-height: 35px; }

h2 {
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  margin-top: 0; }
  h2 a {
    text-decoration: none;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px; }

h3 {
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: 700; }

h4 {
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px; }

p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.blue-box {
  font-size: 16px;
  line-height: 21px; }

.white-text {
  color: white;
  text-align: center;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Neutraface2Display bold";
  letter-spacing: 2px; }

h1.pagetitle {
  width: 100%;
  padding: 0 15px;
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #01AEEF;
  font-family: "neutraface2display titling";
  letter-spacing: 3px;
  text-shadow: 0px 0px 30px white; }

.scenario-list ul li a, .question-list ul li a {
  text-decoration: none; }
  .scenario-list ul li a h2, .question-list ul li a h2 {
    text-transform: none;
    color: #04adee;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: "Helvetica";
    padding: 4px 0px;
    position: relative;
    padding-left: 35px; }
    .scenario-list ul li a h2 span, .question-list ul li a h2 span {
      position: absolute;
      left: 0; }
  .scenario-list ul li a p, .question-list ul li a p {
    color: black;
    padding-left: 23px; }

.content-container .title-section h2 {
  color: #04adee;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-family: "Helvetica";
  padding: 4px 0px; }

.content-container .title-section p {
  color: black; }

.content-container ul.hidden {
  display: none; }

.content-container ul li h3 {
  color: #04adee;
  padding-left: 23px;
  position: relative; }
  .content-container ul li h3 span {
    position: absolute;
    left: 0; }

.content-container ul li h4 {
  padding-left: 23px;
  margin-top: 6px; }

.content-container ul li p.hidden {
  display: none; }

.typography h1 {
  text-transform: capitalize;
  color: #04adee;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px; }

.typography h2 {
  text-transform: capitalize;
  color: #04adee;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px; }

.typography h3 {
  text-transform: capitalize;
  color: #04adee;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px; }

.typography h4 {
  letter-spacing: 0;
  font-family: "Helvetica";
  line-height: 12px;
  font-weight: normal;
  padding-bottom: 7px;
  text-transform: none; }

.typography p {
  font-family: "Helvetica";
  font-weight: normal;
  padding-bottom: 7px;
  text-transform: none; }

.typography ul {
  list-style-type: circle;
  margin-left: 17px;
  padding: 10px 0px; }
  .typography ul li {
    padding: 5px 0px; }

.typography a {
  color: #04adee;
  text-decoration: underline; }

.typography.small h1 {
  text-transform: capitalize;
  color: #61abeb;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px; }

.typography.small h2 {
  text-transform: capitalize;
  color: #04adee;
  font-weight: 700;
  line-height: 18px;
  font-size: 15px; }

.typography.small h3 {
  text-transform: capitalize;
  color: #04adee;
  font-weight: 700;
  line-height: 16px; }

.typography.small h4 {
  line-height: 16px;
  padding: 5px 0px; }

.typography.small ul, .typography.small ol {
  margin-left: 17px;
  padding: 10px 0px; }
  .typography.small ul li, .typography.small ol li {
    line-height: 16px;
    padding: 5px 0px;
    font-size: 11px; }

.typography.small ul {
  list-style-type: circle; }

.typography.small ol {
  list-style-type: decimal; }

.typography.small a {
  color: #04adee;
  text-decoration: underline; }
