/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }

html {
	line-height: 1; }

ol, ul {
	list-style: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle; }

q, blockquote {
	quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none; }

a img {
	border: none; }

iframe {
	max-width: 100%;
	width: 100%;
	display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block; }

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Base Styles */

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}
body {
	font-family: "Helvetica";
	height: auto !important;
}
a {
	color: inherit;

	&:active {
		color: inherit;
	}
}

html,body
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto !important;
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

::-webkit-input-placeholder {font-family: "Neutraface2Display bold";}
::-moz-placeholder { font-family: "Neutraface2Display bold"; } /* firefox 19+ */
:-ms-input-placeholder { font-family: "Neutraface2Display bold"; } /* ie */
input:-moz-placeholder { font-family: "Neutraface2Display bold"; }

#load {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background-image: url("../images/icons/load-icon.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.no-padding {
	padding: 0 !important;
}

.accordion-tab {
	padding:0px 20px !important;
}

.ui-icon-delete.close {
	background-color: #cc2429 !important;
}