body {
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 19px;
}

@import 'layouts/startingpage';
@import 'layouts/profile';
@import 'layouts/mainmenu';
@import 'layouts/singlepage';
@import 'layouts/scenarios';
@import 'layouts/journals';
@import 'layouts/questions';
@import 'layouts/whenamicoach';
@import 'layouts/dosdonts';
@import 'layouts/fivestep';
@import 'layouts/biopage';
@import 'layouts/register';
@import 'layouts/welcome-page';
@import 'layouts/login';

@import 'includes/navigation';
@import 'includes/buttons';

@import 'style';
@import 'typography';
