[class*="bar-"] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding: 5px;
  box-sizing: border-box; }

/* Generic bar for wrapping buttons, segmented controllers, etc. */
.bar-standard {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e5e5e5 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0, #e5e5e5 100%);
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 1px 1px -1px #fff; }

/* Flip border position to top for footer bars */
.bar-footer.bar-standard,
.bar-footer-secondary.bar-standard {
  border-top: 1px solid #aaa;
  border-bottom-width: 0; }

/* Title bar
-------------------------------------------------- */
/* Bar docked to top of viewport for showing page title and actions */
.bar-title {
  top: 0;
  display: -webkit-box;
  display: box;
  background: #4d7fb8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4d7fb8 0%, #4572a5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d7fb8), color-stop(100%, #4572a5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4d7fb8 0%, #4572a5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4d7fb8 0%, #4572a5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4d7fb8 0%, #4572a5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4d7fb8 0%, #4572a5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4572a5',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, 0.8);
  -webkit-box-orient: horizontal;
  box-orient: horizontal; }

/* Centered text in the .bar-title */
.bar-title .title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  white-space: nowrap; }

.bar-title > a:not([class*="button"]) {
  display: block;
  width: 100%;
  height: 100%; }

/* Retain specified title color */
.bar-title .title a {
  color: inherit; }

/* Tab bar
-------------------------------------------------- */
/* Bar docked to bottom used for primary app navigation */
.bar-tab {
  bottom: 0;
  height: 50px;
  padding: 0;
  background-color: #393939;
  background-image: -webkit-linear-gradient(top, #393939 0, #2b2b2b 100%);
  background-image: linear-gradient(to bottom, #393939 0, #2b2b2b 100%);
  border-top: 1px solid #000;
  border-bottom-width: 0;
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, 0.6); }

/* Wrapper for individual tab */
.tab-inner {
  display: -webkit-box;
  display: box;
  height: 100%;
  list-style: none;
  -webkit-box-orient: horizontal;
  box-orient: horizontal; }

/* Navigational tab */
.tab-item {
  height: 100%;
  padding-top: 9px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1; }

/* Active state for tab */
.tab-item.active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); }

/* Icon for tab  */
.tab-icon {
  display: block;
  height: 18px;
  margin: 0 auto; }

/* Label for tab */
.tab-label {
  margin-top: 1px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3); }

/* Buttons in title bars
-------------------------------------------------- */
/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  z-index: 10;
  /* Places buttons over full width title */
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #1eb0e9;
  background-image: -webkit-linear-gradient(top, #1eb0e9 0, #0984c6 100%);
  background-image: linear-gradient(to bottom, #1eb0e9 0, #0984c6 100%);
  border: 1px solid #0e5895;
  box-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-box-flex: 0;
  box-flex: 0; }

/* Hacky way to right align buttons outside of flex-box system
   Note: is only absolutely positioned button, would be better if flex-box had an "align right" option */
.bar-title .title + [class*="button"]:last-child,
.bar-title .button + [class*="button"]:last-child,
.bar-title [class*="button"].pull-right {
  position: absolute;
  top: 5px;
  right: 5px; }

/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #0876b1; }

/* Directional buttons in title bars (thanks to @GregorAdams for solution - http://cssnerd.com/2011/11/30/the-best-pure-css3-ios-style-arrow-back-button/)
-------------------------------------------------- */
/* Add relative positioning so :before content is positioned properly */
/* Block buttons in any bar
-------------------------------------------------- */
/* Add proper padding and replace buttons normal dropshadow with a shine from bar */
[class*="bar"] .button-block {
  padding: 7px 0;
  margin-bottom: 0;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px rgba(255, 255, 255, 0.8); }

/* Override standard padding changes for .button-blocks */
[class*="bar"] .button-block:active {
  padding: 7px 0; }

/* Segmented controller in any bar
-------------------------------------------------- */
/* Remove standard segmented bottom margin */
[class*="bar-"] .segmented-controller {
  margin-bottom: 0; }

/* Add margins between segmented controllers and buttons */
[class*="bar-"] .segmented-controller + [class*="button"],
[class*="bar-"] [class*="button"] + .segmented-controller {
  margin-left: 5px; }

/* Segmented controller in a title bar
-------------------------------------------------- */
.bar-title .segmented-controller {
  line-height: 18px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #1eb0e9;
  background-image: -webkit-linear-gradient(top, #1eb0e9 0, #0984c6 100%);
  background-image: linear-gradient(to bottom, #1eb0e9 0, #0984c6 100%);
  border: 1px solid #0e5895;
  border-radius: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-box-flex: 1;
  box-flex: 1; }

/* Set color for tab border and highlight */
.bar-title .segmented-controller li {
  border-left: 1px solid #0e5895;
  box-shadow: inset 1px 0 rgba(255, 255, 255, 0.25); }

/* Remove inset shadow from first tab or one to the right of the active tab  */
.bar-title .segmented-controller .active + li,
.bar-title .segmented-controller li:first-child {
  box-shadow: none; }

/* Remove left-hand border from first tab */
.bar-title .segmented-controller li:first-child {
  border-left-width: 0; }

/* Depressed state (active) */
.bar-title .segmented-controller li.active {
  background-color: #0082c4;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.3); }

/* Set color of links to white */
.bar-title .segmented-controller li > a {
  color: #fff; }

/* Search forms in standard bar
-------------------------------------------------- */
/* Position/size search bar within the bar */
.bar-standard input[type=search] {
  height: 32px;
  margin: 0; }

/* Lists
-------------------------------------------------- */
/* Remove usual bullet styles from list */
.list {
  margin-bottom: 10px;
  list-style: none;
  background-color: #fff; }

/* Pad each list item and add dividers */
.list li {
  position: relative;
  padding: 20px 60px 20px 10px;
  /* Given extra right padding to accomodate counts, chevrons or buttons */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* Give top border to first list items */
.list li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

/* If a list of links, make sure the child <a> takes up full list item tap area (want to avoid selecting child buttons though) */
.list li > a:not([class*="button"]) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -20px -60px -20px -10px;
  color: inherit; }

/* Inset list
-------------------------------------------------- */
.list.inset {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box; }

/* Remove border from first/last standard list items to avoid double border at top/bottom of lists */
.list.inset li:first-child {
  border-top-width: 0; }

.list.inset li:last-child {
  border-bottom-width: 0; }

/* List dividers
-------------------------------------------------- */
/* Rounding first divider on inset lists and remove border on the top */
.list.inset .list-divider:first-child {
  top: 0;
  border-top-width: 0;
  border-radius: 6px 6px 0 0; }

/* Rounding last divider on inset lists */
.list.inset .list-divider:last-child {
  border-radius: 0 0 6px 6px; }

/* Input groups (cluster multiple inputs together into a single group)
-------------------------------------------------- */
/* Reset from initial form setup styles */
[class*="button"] {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-weight: bold;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  vertical-align: top;
  cursor: pointer;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0, #d4d4d4 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0, #d4d4d4 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.05); }

/* Active */
[class*="button"]:active {
  padding-top: 5px;
  padding-bottom: 3px;
  color: #333;
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2); }

/* Button modifiers
-------------------------------------------------- */
.chevron {
  display: block;
  height: 20px; }

/* Base styles for both 1/2's of the chevron */
.chevron:before,
.chevron:after {
  position: relative;
  display: block;
  width: 12px;
  height: 4px;
  background-color: #999;
  content: ''; }

/* Position and rotate respective 1/2's of the chevron */
.chevron:before {
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.chevron:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

 /* General count styles
-------------------------------------------------- */

/*# sourceMappingURL=ratchet.css.map */
