<header>
    <div class="cf" ng-include="'views/includes/menu-nav.html'"></div>
</header>
<div id="mainmenu" class="content-section animated fadeInLeft scroll-bounce" ng-controller="MainMenuController" style="-webkit-overflow-scrolling:touch;">
    <div id="guides" class="hidden">
        <nav>
            <a class="menu-icon"></a>
            <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
            <a class="profile-icon"></a>
        </nav>
        <div class="tags-position" ng-click="hideGuides()">
            <div class="text-caption right">
                <div class="top-right">
                    <div class="purple-tag">
                        <p>Click here for profile and settings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainpage">
        <body>
            <div class="banner-image" style="background-image: url('{{image}}')">
                <h1 class="pagetitle">{{title}}</h1>
            </div>
            <div class="menu-list">
                <ul>
                    <li ng-class="{first:$index==0}" ng-repeat-start="menuItem in menuItems" style="background-image: url('{{menuItem.icon}}')"><a ng-href="{{menuLink(menuItem.type, menuItem.urlSegment)}}"><span>{{menuItem.title}}</span></a></li>
                    <li ng-if="$index % 5 == 3" ng-repeat-end id="journals-button" style="background-image: url('css/images/navigation/journals.png')"><a ng-href="#/journals"><span>Journal</span></a></li>
                </ul>
            </div>
        </body>
    </div>
</div>
