<div id="register" class="animated">
    <div id="load" style="display:none;"></div>
    <div class="content-container animated bounceInUp">
        <a ng-href="#/content/accordian/5-step-game-plan"
           class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>

        <div class="form denied">
            <h3>You need to be a C2C workshop member to view this content</h3>
            <div class="buttons">
                <a class="left-button" ng-href="#/login">Member Login</a>
                <a class="right-button" ng-href="#/mainmenu">OK</a>
            </div>
        </div>
    </div>
</div>