<div id="register" ng-controller="ExploreController" class="animated">
    <div id="load" style="display:none;"></div>
    <div class="content-container animated bounceInUp">
        <a ng-href="#/startingpage?back=true"
           class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>

        <div class="form">
            <h2>EXPLORE <span class="header-spacing">C2C</span></h2>
            <p>Please note, access to certain content is limited to C2C workshop members</p>
            <div class="buttons">
                <a class="left-button" ng-href="#/login">Member Login</a>
                <a class="right-button" ng-click="GuestLogin()">OK</a>
            </div>
            <p class="terms">By clicking OK, you agree to C2C's <a ng-href="#/termsconditions" data-transition="slideup">Terms and Conditions</a></p>
        </div>

    </div>
</div>
