<div id="register" ng-controller="RegistrationController" class="animated">
    <div id="load" style="display:none;"></div>
    <div class="content-container animated bounceInUp">
        <a ng-href="#/startingpage?back=true" class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>
        <form name="registerform" novalidate ng-submit="register()">
                <h2>Register</h2>
                <input type="text" id="firstname" name="firstname" placeholder="First name" ng-model="user.firstname" ng-required="true">
                <input type="text" id="lastname" name="lastname" placeholder="Last name"ng-model="user.lastname" ng-required="true">
                <input type="email" id="email-register" name="email" placeholder="Email"  ng-model="user.email" ng-required="true">
                <input type="password" id="password" name="password" placeholder="Password"  ng-model="user.password" ng-required="true">
            <div class="error-section">
                <p class="error animated flipInX" ng-show="registerform.firstname.$invalid && registerform.firstname.$touched">
                Please enter a <b>FIRST NAME</b>
                </p>
                <p class="error animated flipInX" ng-show="registerform.lastname.$invalid && registerform.lastname.$touched">
                Please enter a <b>LAST NAME</b>
                </p>
                <p class="error animated flipInX" ng-show="registerform.email.$invalid && registerform.email.$touched">
                Must be a valid <b>EMAIL</b>
                </p>
                <p class="error animated flipInX" ng-show="registerform.password.$invalid && registerform.password.$touched">
                Must be a valid <b>PASSWORD</b>
                </p>
                <input id="register-submit" type="submit" value="Register" ng-disabled="registerform.$invalid">

                <div class="form-options">
                    <a ng-href="#/termsconditions" data-transition="slideup">By clicking Register, you agree to <br> C2C's Terms and Conditions</a>
                </div>
            </div>
        </form>
    </div>
    <div id="register-success" class="animated">
        <div class="grey-box">
            <div class="content-position">
                <h3>Thank you, you have been successfully registered</h3>
                <div class="buttons">
                    <a ng-href="#/mainmenu?showGuide=true">Main menu</a>
                </div>
            </div>
        </div>
    </div>
    <div id="register-error" class="animated shake">
        <div class="grey-box">
            <div class="content-position">
                <h3>There was an error processing registration, please try again</h3>
                <div class="buttons">
                    <a ng-click="TryAgain()">try again</a>
                </div>
            </div>
        </div>
    </div>
    <div id="register-exists" class="animated shake">
        <div class="grey-box">
            <div class="content-position">
                <h3>This account already exists, please try logging in</h3>
                <div class="buttons">
                    <a ng-click="TryAgain()">try again</a>
                    <a ng-href="#/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
