<div id="TermsConditions" ng-controller="TermsController" class="scroll-bounce">
    <div id="load"></div>
    <div class="content-container animated">
        <h2 style="display: inline-block;">Terms and Conditions</h2>
        <a ng-href="#/explore" class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>
        <div class="text-section typography" ng-bind-html="content"></div>
    </div>
</div>