<header>
    <div class="cf" ng-include="'views/includes/bio-nav.html'"></div>
</header>
<div id="HaroldBio" class="bio-page animated fadeInRight" ng-controller="BioController">
    <div id="load"></div>
    <body>
        <div class="banner-image animated fadeIn" style="background-image: url('{{bioimage}}')"></div>
        <div class="text-content typography" ng-bind-html="htmlSafe(content)">
        </div>
    </body>
</div>