<header class="animated fadeInUp profile-header">
    <nav>
        <div class="cf" ng-include="'views/includes/profile-nav.html'"></div>
    </nav>
</header>
<div id="profile" ng-controller="ProfileController">
    <body>
        <div class="content-container animated bounceInUp">
            <form name="accountform" novalidate ng-submit="saveform()">
                <h2>Your Details</h2>
                <input type="text" id="fullname" name="fullname" placeholder="{{fullName}}" ng-disabled="true">
                <input type="email" id="email" name="email" placeholder="{{email}}" ng-disabled="true">
                <div class="disabled-password {{changepassword}} animated show">
                    <input type="password" id="password" name="password" placeholder="∙∙∙∙∙∙∙∙∙∙" ng-model="user.password" readonly>
                </div>
                <div class="change-password {{changepassword}} animated hide">
                    <input type="password" id="password-old" name="password-old" placeholder="Old Password" ng-model="user.passwordOld" ng-required="true">
                    <input type="password" id="password-new" name="password-new" placeholder="New Password" ng-model="user.passwordNew" ng-required="true">
                    <input type="password" id="password-repeat" name="password-repeat" placeholder="Confirm Password" ng-model="user.passwordRepeat" ng-required="true">
                </div>
                <div class="buttons option1 {{showoptions}} animated show">
                    <p class="status-message">{{savestatus}}</p>
                    <a ng-model="changepassword" ng-click="showform()" class="btn" href="">Change Password</a>
                    <a class="lost" ng-href="#/lostpassword">LOST PASSWORD?</a>
                </div>
                <div class="buttons option2 {{showoptions}} animated hide">
                    <a class="btn left" ng-model="showoptions" ng-click="showAndHide()" class="btn left" href="">Cancel</a>
                    <input type="submit" class="btn right submit" ng-model="savestatus" ng-disabled="accountform.$invalid"></a>
                </div>
            </form>
            <div class="contact-section">
                <h2 class="contact">Contact us</h2>
                <ul class="circle-links">
                    <li class="first">
                        <a href="mailto:{{emailAddress}}">
                            <img ng-src="css/images/profile/email.jpg">
                            Email<br>us
                        </a>
                    </li>
                    <li class="second">
                        <!--<a ng-click="OpenMaps()">-->
                        <a href="" onClick="window.open('http://www.coach2coach.com/', '_system', 'location=yes')">
                            <img ng-src="css/images/profile/c2c.jpg">
                            C2C<br>Website
                        </a>
                    </li>
                    <li class="third">
                        <a ng-href="#/haroldbio">
                            <img ng-src="css/images/profile/bio.jpg">
                            Harold's<br>bio
                        </a>
                    </li>
                </ul>
            </div>
            <div class="buttons bottom">
                <a class="btn-red" ng-click="showPopup()">Logout</a>
                <a class="btn" ng-click="RateApp()">Rate the app</a>

            </div>
        </div>

        <div id="popup" class="animated fadeIn">
            <div class="content-container" style="margin-top: 275px;">
                <div class="buttons option2 {{showoptions}}">
                    <p class="white-text">Are you sure you want to log out?</p>
                    <a class="btn right" ng-model="savestatus" ng-click="logout()" class="btn right" href="">Logout</a>
                    <a class="btn left" ng-model="showoptions" ng-click="hidePopup()" class="btn left" href="">Cancel</a>
                </div>
            </div>
        </div>
    </body>
</div>