<div class="dropdown-list" ng-controller="MainMenuController">
    <ul>
        <li class="first"><a ng-href="#/mainmenu">Home</a></li>
        <li ng-repeat-start="menuItem in menuItems"><a ng-href="{{menuLink(menuItem.type, menuItem.urlSegment)}}">{{menuItem.title}}</a></li>
        <li ng-if="$index % 5 == 3" ng-repeat-end><a ng-href="#/journals">Journal</a></li>
    </ul>
</div>