<nav class="unselectable">
    <a ng-href="#/mainmenu" class="back-icon"></a>
    <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
    <a ng-href="#/profile" class="profile-icon"></a>
</nav>