<nav class="unselectable">
    <a ng-click="ShowExitPopup('/journals', 'true')" class="back-icon"></a>
    <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
    <a ng-click="ShowExitPopup('/profile', 'false')" class="profile-icon"></a>
</nav>