<nav class="unselectable">
    <!--<a ng-click="$back()" class="back-icon"></a>-->
    <a class="menu-icon"></a>
    <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
    <a ng-href="#/profile" class="profile-icon"></a>
</nav>