<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="journals" class="animated fadeInRight" ng-controller="JournalController">
    <div id="load"></div>
    <div class="banner-image blur-toggle blur-off" style="background-image: url('css/images/whatisc2c/banner-image.jpg')">
        <h1 class="pagetitle animated fadeInDown unselectable">Journal</h1>
        <a class="journal-icon animated fadeInDown" ng-href="#/journals/0/?journalID=0&newJournal=true"></a>
    </div>
    <div class="blue-box blur-toggle blur-off">
        <p>Use this area to keep track of all your interactions, learnings and outcomes. Keeping track of things will help you to see patterns in behaviours of others as well as yourself.</p>
    </div>
    <div class="journal-list blur-toggle blur-off">
        <ul>
            <li ng-class="{first:$index==0}" ng-repeat="journal in journals">
                <a ng-href="#/journals/{{journal.journalID}}/?journalID={{journal.journalID}}">
                    <p class="journal-title unselectable">{{getTitle(journal.title) | limitTo: 40 }}{{getTitle(journal.title).length > 40 ? '...' : ''}}</p>
                    <p class="journal-date unselectable">{{journal.date}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>