<div id="journal" class="animated fadeInRight" ng-controller="JournalDetailController">
    <div id="load"></div>
    <!--<div class="cf" ng-include="'views/includes/journal-nav.html'"></div>-->
    <nav class="">
        <a ng-click="ShowExitPopup('/journals', 'true')" class="back-icon"></a>
        <!--<a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>-->
        <img src="images/c2c-logo-white.png" alt="" class="header-logo">
        <a ng-click="ShowExitPopup('/profile', 'false')" class="profile-icon"></a>
    </nav>
    <div class="banner-image" style="background-image: url('css/images/whatisc2c/banner-image.jpg')">
        <div class="options-position">
            <a ng-href="{{getEmailLink()}}" target="_blank" class="email-icon"></a>
            <a ng-click="ShowSavePopup()" class="save-icon"></a>
            <!--<a ng-click="ShowExitPopup('/journals', 'true')" class="back-icon" style="width:40px;height:40px;background:red;display:inline-block;"></a>-->
        </div>
        <a ng-click="ShowDeletePopup()" class="delete-icon"></a>
    </div>
    <div class="journal">
        <form name="journalform" novalidate>
            <!--<textarea rows="1" type="text" id="title" name="title" placeholder="New Journal Title" ng-model="journalTitle" ng-required="true" ng-focus="window.scrollTo(0, 0);" onblur="this.placeholder = 'New Journal Title'" onfocus="this.placeholder = ''">{{journalTitle}}</textarea>-->
            <input type="text" id="title" name="title" placeholder="Journal Title" ng-model="journalTitle" ng-required="true" ng-focus="window.scrollTo(0, 0);" onblur="this.placeholder = 'New Journal Title'" onfocus="this.placeholder = ''"/>
            <hr>
            <textarea id="content" name="entry" ng-required="true" ng-model="entry" placeholder="Journal Text">
                {{entry}}
            </textarea>
        </form>
    </div>
    <div id="savePopup" class="animated">
        <div class="popupPosition" class="animated">
            <div class="savePopupBox">
                <div class="text-container unselectable">
                    <h3>Save Journal</h3>
                    <p>Do you wish to save your changes?</p>
                </div>
                <a class="button save" id="savejournal" ng-click="SaveJournal()">Save journal</a>
                <a class="button cancel" id="cancelsave" ng-click="HideSavePopup()">Cancel</a>
            </div>
        </div>
    </div>
    <div id="exitPopup" class="animated">
        <div class="popupPosition" class="animated">
            <div class="exitPopupBox" ng-model="selected">
                <div class="text-container unselectable">
                    <h3>Exit Journal</h3>
                    <p>You wish to exit? Your changes will be discarded</p>
                </div>
                <!--<a class="button save" id="exitsavejournal" ng-click="ExitSaveJournal({{selected}})">Exit & Save Journal</a>-->
                <!--<a class="button cancelsave" id="exitdontsave" ng-click="ExitCancelJournal({{selected}})">Exit & Don't save</a>-->
                <a class="button cancel" id="cancelexit" ng-click="HideExitPopup()">Cancel</a>
            </div>
        </div>
    </div>
    <div id="confirmPopup" class="animated">
        <div class="popupPosition" class="animated">
            <div class="confirmPopupBox">
                <div class="text-container unselectable">
                    <h3>Saved</h3>
                    <p>Your journal has been saved.</p>
                </div>
                <a class="button cancel" id="exitsave" ng-click="HideConfirmPopup()">OK</a>
            </div>
        </div>
    </div>
    <div id="deletePopup" class="animated">
        <div class="popupPosition" class="animated">
            <div class="deletePopupBox">
                <div class="text-container unselectable">
                    <h3>Delete Journal?</h3>
                    <p>Do you wish to delete this entry?</p>
                </div>
                <a class="button delete" id="deleteJournal" ng-click="DeleteJournal()"><strong>Delete</strong></a>
                <a class="button cancel" id="" ng-click="HideExitPopup()">Cancel</a>
            </div>
        </div>
    </div>
</div>