<div id="startingpage" ng-controller="StartPageController">
    <div class="content-container animated fadeIn">
        <div class="black-transparency animated fadeIn"></div>
        <div id="load"></div>
        <ul rn-carousel rn-carousel-buffered rn-carousel-index="carouselIndex" class="slider">
            <li class="slide" ng-repeat="slide in slides">
                <div class="image" style="background-image: url('{{slide.imageURL}}')">
                    <a class="button register" ng-href="#/explore" ng-if="!(($index + 1) % 5)"></a>
                    <a class="button login" ng-href="#/login" ng-if="!(($index + 1) % 5)"></a>
                </div>
            </li>
        </ul>
        <div class="slide-indicator" rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
        <div class="buttons">
            <div class="left-button"><a data-transition="slideup" ng-href="#/explore">EXPLORE</a></div>
            <div class="right-button"><a data-transition="slideup" ng-href="#/login">LOG IN</a></div>
        </div>
    </div>
</div>
