<div id="LoginForgot" ng-controller="RegistrationController">
    <div class="content-container animated bounceInUp">
        <a ng-href="#/profile" class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>
            <form name="forgotform" novalidate ng-submit="newpassword()">
                <h2 style="display: inline-block;">Lost password?</h2>
                <p>Enter your email address and we will send you a link with which you can reset your password</p>
                <input type="email" id="email" name="emailresubmit" placeholder="Email" ng-model="user.emailresubmit" ng-required="true">
                <input type="submit" id="forgot-submit" value="Send new password" ng-disabled="forgotform.$invalid">
            </form>
        </div>
    </div>
</div>