<div id="LoginForgotSuccess" ng-controller="RegistrationController">
    <div class="content-container animated bounceInUp">
        <form name="forgotresubmitform" novalidate ng-submit="newpassword()">
            <h2>Lost password</h2>
            <a ng-href="#/login" class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>
            <p>
                If your email is correct, you will receive an email shortly with instructions
                on how to reset your password. Please also check your email account's Spam or Junk
                folder to ensure the message was not filtered.
            </p>
            <a class="done" ng-href="#/login">Log in</a>
        </form>
    </div>
</div>