<div id="login" ng-controller="RegistrationController" class="animated">
    <div id="load" style="display:none;"></div>
    <div class="content-container animated bounceInUp">
        <div data-role="content" >
            <a ng-href="#/startingpage?back=true" class="close ui-link ui-btn ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-inline ui-shadow ui-corner-all"></a>
            <form autocomplete="off" name="loginform" novalidate ng-submit="login()">
                <input type="email" autocomplete="off" id="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
                <input type="password" id="password-login" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
                <input class="checked" ng-click="ToggleCheckBox()" type="checkbox" id="remember-box" name="remember" value="remember_checkbox">
                <p ng-click="ToggleCheckBox()" class="remember unselectable">Keep me signed in</p>
                <input type="submit" id="login-submit" value="Log in" ng-disabled="loginform.$invalid">
                <div class="form-options">
                    <a class="lost" ng-href="#/lostpassword">LOST PASSWORD?</a>
                    <!--<a class="register" ng-href="#/register" data-transition="slideup">REGISTER</a>-->
                </div>
                <br><p class="terms">By clicking log in, you agree to C2C's <a ng-href="#/termsconditions" data-transition="slideup">Terms and Conditions</a></p><br>
            </form>
        </div>
    </div>
    <div id="login-error" class="animated shake">
        <div class="grey-box">
            <div class="content-position">
                <h3>{{message}}</h3>
                <div class="buttons">
                    <a ng-click="TryAgain()">Try Again</a>
                    <!--<a ng-href="#/register">Register now</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
