<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="whenamicoach" class="animated fadeInRight" ng-controller="AccordianPageController">
    <div id="load"></div>
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')" ng-show="isImageType()">
        <h1 class="pagetitle animated fadeInDown unselectable">{{pagetitle}}</h1>
    </div>
    <div class="wistia_responsive_padding" ng-show="isVideoType()" style="padding:56.25% 0 28px 0;position:relative;margin-top:50px;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <iframe ng-src="{{wistiaLink}}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>

    <div class="blue-box blur-toggle blur-off unselectable">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="content-container blur-toggle blur-off unselectable no-padding">
        <ul class="point-list">
            <li class="menu-item {{hasArrow(point.id)}} {{$last ? 'last' : ''}}" id="point{{point.id}}" ng-repeat="point in points" >
                <div ng-click="toggleMoreText({{point.id}})" class="accordion-tab">
                    <h3><span>{{$index +1}}. </span>{{point.pointtitle}}</h3>
                    <h4>{{point.heading}}</h4>
                </div>
                <div id="more-text{{point.id}}" class="description hidden animated typography small" ng-bind-html="htmlSafe(description)"></div>
            </li>
        </ul>
    </div>
</div>