<div id="LoginForgot">
    <div class="grey-box">
        <div class="content-position">
            <h3>Network Error</h3>
            <h3 style="padding-top:0px;">An error has occured. Please check your network connection and try again</h3>
            <div class="buttons">
                <a ng-href="#/login">Log back in</a>
            </div>
        </div>
    </div>
</div>