<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="fivestep" class="animated fadeInRight" ng-controller="FiveStepController">
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')">
        <h1 class="pagetitle animated fadeInDown">{{pagetitle}}</h1>
    </div>
    <div class="blue-box blur-toggle blur-off">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="content-container blur-toggle blur-off">
        <ul class="point-list menu">
            <li class="menu-item unselectable" ng-click="toggleMoreText({{step.id}})" id="step{{step.id}}" ng-repeat="step in steps">
                <div>
                    <h3>{{step.steptitle}}</h3>
                    <h4>{{step.heading}}</h4>
                </div>
                <div id="more-text{{step.id}}" class="description hidden animated typography" ng-bind-html="step.description"></div>
            </li>
        </ul>
    </div>
</div>