<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="questions" class="animated fadeInRight" ng-controller="ListController">
    <div id="load"></div>
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')">
        <h1 class="pagetitle animated fadeInDown unselectable">{{pagetitle}}</h1>
    </div>
    <div class="blue-box blur-toggle blur-off unselectable">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="question-list blur-toggle blur-off">
        <ul>
            <li class="keypoint-item menu-item unselectable {{$index === listItems.length - 1 ? 'last' : ''}}" ng-repeat="listItem in listItems">
                <a href="#/content/list/{{urlSegment}}/{{listItem.listItemID}}">
                    <h3><span>{{$index+1}}. </span>{{listItem.title}}</h3>
                    <p ng-show="listItem.titlelong != null">{{listItem.titlelong}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>