<nav>
    <a ng-href="#/content/list/{{urlSegment}}/?back=true" class="back-icon"></a>
    <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
    <a ng-href="#/profile" class="profile-icon"></a>
</nav>
<div id="question" class="animated fadeInRight" ng-controller="ListDetailController">
    <div id="load"></div>
    <!--<iframe class="banner-video" width="100%" height="200" ng-src="{{youtubeLink}}" frameborder="0" allowfullscreen ng-show="isVideoType()"></iframe>-->
    <!--<iframe class="banner-video" ng-src="{{wistiaLink}}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen ng-show="isVideoType()" width="100%" height="200"></iframe>-->

    <div class="wistia_responsive_padding" ng-show="isVideoType()" style="padding:56.25% 0 28px 0;position:relative;margin-top:50px;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <iframe ng-src="{{wistiaLink}}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>


    <div class="banner-image animated fadeIn" style="background-image: url('{{media.imageLink}}')" ng-show="isImageType()">
        <h1 class="pagetitle unselectable">{{listItem.titlefull}}</h1>
    </div>
    <div class="content-container no-padding">
        <div class="title-section">
            <h2 class="video-header unselectable" ng-show="isVideoType()">{{listItem.titlefull}}</h2>
            <p>{{listItem.summaryfull}}</p>
        </div>
        <ul class="keypoint-list">
            <li class="keypoint-item menu-item unselectable" id="keypoint-{{$index+1}}" ng-repeat="keypoint in keypoints">
                <div class="accordion-tab" ng-click="ToggleDescription(keypoint.id, $index+1)">
                    <h3><span>{{$index +1}}. </span>{{keypoint.pointtitle}}</h3>
                    <h4 ng-show="{{keypoint.heading}}">{{keypoint.heading}}</h4>
                </div>
                <div class="hidden typography small description" ng-bind-html="htmlSafe(description)">
                </div>
            </li>
        </ul>
    </div>
</div>