<div id="scenario" class="animated fadeInRight scroll-bounce" ng-controller="ScenarioDetailController">
    <a ng-href="#/scenarios?back=true" class="back-icon"></a>
    <a href="#/mainmenu"><img src="images/c2c-logo-white.png" alt="" class="header-logo"></a>
    <a ng-href="#/profile" class="profile-icon"></a>
    <iframe class="unselectable" id="ytplayer" type="text/html" width="100%" height="200" src="{{youtubeLink}}" frameborder="0"></iframe>
    <div class="content-container">
        <div class="title-section unselectable">
            <h2>Scenario {{index}}</h2>
            <p>{{scenario.titlelong}}</p>
        </div>
        <ul class="keypoint-list menu">
            <li class="keypoint-item menu-item unselectable" id="keypoint-{{$index+1}}" ng-repeat="keypoint in keypoints" ng-click="ToggleDescription({{$index+1}})">
                <h3>Keypoint {{$index +1}}</h3>
                <h4>{{keypoint.heading}}</h4>
                <div class="hidden typography small" ng-bind-html="keypoint.description"></div>
            </li>
        </ul>
    </div>
</div>