<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="scenarios" class="animated fadeInRight" ng-controller="ScenarioController">
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')">
        <h1 class="pagetitle animated fadeInDown unselectable">{{pagetitle}}</h1>
    </div>
    <div class="blue-box blur-toggle blur-off unselectable">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="scenario-list blur-toggle blur-off">
        <ul class="menu">
            <li class="keypoint-item menu-item unselectable" ng-repeat="scenario in scenarios">
                <a href="#/scenarios/{{scenario.scenarioID}}?index={{$index + 1}}">
                    <h2>Scenario {{$index + 1}}</h2>
                    <p>{{scenario.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>