<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="whatisc2c" class="single-page animated fadeInRight" ng-controller="SinglePageController">
    <div id="load"></div>
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')">
        <h1 class="pagetitle animated fadeInDown unselectable">{{pagetitle}}</h1>
    </div>
    <div class="blue-box blur-toggle blur-off unselectable">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="text-content blur-toggle blur-off">
        <div class="typography unselectable" ng-bind-html="htmlSafe(content)"></div>
    </div>
</div>