<div class="cf" ng-include="'views/includes/page-nav.html'"></div>
<div class="close-dropdown"></div>
<div class="nav-wrapper">
    <div class="dropdown" ng-include="'views/includes/dropdown-menu.html'"></div>
</div>
<div id="dosdonts" class="single-page animated fadeInRight" ng-controller="TogglePageController">
    <div id="load"></div>
    <div class="banner-image animated fadeIn blur-toggle blur-off" style="background-image: url('{{bannerimage}}')">
        <h1 class="pagetitle animated fadeInDown">{{pagetitle}}</h1>
    </div>
    <div class="blue-box blur-toggle blur-off">
        <p>{{blueboxtext}}</p>
    </div>
    <div class="toggle-buttons blur-toggle blur-off">
        <a ng-click="showToggleSection1()" id="toggle1-button" class="toggle-button left selected">{{toggleButton1}}</a>
        <a ng-click="showToggleSection2()" id="toggle2-button" class="toggle-button right">{{toggleButton2}}</a>
    </div>
    <div class="content-container blur-toggle blur-off">
        <ul id="toggle1-section" class="point-list menu">
            <li class="menu-item" id="do{{toggle1Item.id}}" ng-repeat="toggle1Item in toggleItems1">
                <div class="unselectable" ng-click="toggleText({{toggle1Item.id}}, 1)">
                    <h3><span>{{$index +1}}. </span>{{toggle1Item.title}}</h3>
                    <h4>{{toggle1Item.heading}}</h4>
                </div>
                <p id="toggle1-text{{toggle1Item.id}}" class="description hidden animated typography unselectable"  ng-bind-html="htmlSafe(toggle1Item.description)"></p>
            </li>
        </ul>
        <ul id="toggle2-section" class="point-list hidden menu">
            <li class="menu-item" id="dont{{toggle2Item.id}}" ng-repeat="toggle2Item in toggleItems2">
                <div class="unselectable" ng-click="toggleText({{toggle2Item.id}}, 2)">
                    <h3><span>{{$index +1}}. </span>{{toggle2Item.title}}</h3>
                    <h4>{{toggle2Item.heading}}</h4>
                </div>
                <p id="toggle2-text{{toggle2Item.id}}" class="description hidden animated typography unselectable"  ng-bind-html="htmlSafe(toggle2Item.description)"></p>
            </li>
        </ul>
    </div>
</div>