.bio-page{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	padding: 0px;
	overflow-x: hidden;
	body{
		-webkit-overflow-scrolling: touch;
	}
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.banner-image{
		height: 340px;
		margin-top:0;
		h1{
			color:#062f4b;
			width: 100%;
			position: absolute;
			bottom: 0px;
			padding-bottom: 50px;
			text-align: center;
		}
	}
	.text-content{
		padding:20px;
	}
}