#dosdonts{
	height: 100%;
	width: 100%;
	overflow-x: hidden;

    .description {
        padding-left: 23px;
    }

	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
    .toggle-buttons{
      -webkit-transform: translate3d(0,0,0);
      .toggle-button{
        -webkit-transform: translate3d(0,0,0);
      }
    }
    .content-container {
      ul{
        -webkit-transform: translate3d(0,0,0);
        li {
          h3 {
            padding-bottom: 0;
              padding-right: 24px;
          }
          .point-list p {
            font-weight: bold;
          }
        }
      }
    }
}