#journals{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	.pagetitle {
		color: #01AEEF;
		font-family: "neutraface2display titling";
		text-shadow: 0px 0px 30px white;
	}
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.banner-image{
		a.journal-icon{
			display:block;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("images/custom-icons/journal-icon.png");
			position: absolute;
			right: 20px;
			padding-bottom: 0;
			height: 42px;
			width: 42px;
			top:50%;
			margin-top:-21px;
			z-index:199;
			color: transparent;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}
	.journal-list{
		-webkit-transform: translate3d(0,0,0);
		ul{
			padding:20px;
			li{
				display: block;
				border-bottom: 1px solid #cbcbcc;
				background-repeat: no-repeat;
				background-size: 55px;
				background-position: center left;
				a{
					background-image: url('images/custom-icons/arrow-icon.png');
					background-position: center right;
					background-repeat: no-repeat;
					text-decoration: none;
					width: 100%;
					height: 100%;
					display: block;
					color:black;
					padding: 14px 0px;
					.journal-title{
						font-size: 16px;
						padding-right: 24px;
						word-wrap: break-word;
					}
					.journal-date{
						font-weight: bold;
						color:#575757;
						margin-top:8px;
					}
				}
				&.first{
					border-top: 1px solid #cbcbcc;
				}
			}
		}
	}
}

#journal{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	position:relative;
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	
	nav {
		position: relative;

		.back-icon {
			position: absolute;
			z-index: 99;
		}
	}
	.banner-image {
		height:90px;
		margin-top:0;
	}
	#exitsave {
		margin-top:10px;
	}
	.options-position{
		position:absolute;
		bottom: 0;
		top: 0;
		left: 15px;
		margin:auto;
		height:42px;
	}
	.email-icon, .save-icon, .delete-icon{
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 42px;
		height: 42px;
		display:inline-block;
	}
	.email-icon{
		background-image: url('images/custom-icons/icon_email.png');
	}
	.save-icon{
		background-image: url('images/custom-icons/icon_save.png');
		margin-left:10px;
	}
	.delete-icon {
		background-image: url('images/custom-icons/icon_delete.png');
		position:absolute;
		bottom: 0;
		top: 0;
		right: 15px;
		margin:auto;
	}
	.journal{
		form{
			width: 100%;
			padding: 15px;
			#title{
				display:block;
				width:100%;
				height: auto;
				padding: 10px;
				resize: none;
				overflow: auto;
				&::-webkit-input-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold"; letter-spacing: 2px;}
				&::-moz-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
				&:-ms-input-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
				input:-moz-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
				border: none;
			}
			#content{
				display:block;
				width:100%;
				height:100%;
				resize: none;
				padding: 10px;
				border: none;
				&::-webkit-input-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold"; letter-spacing: 2px;}
				&::-moz-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
				&:-ms-input-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
				input:-moz-placeholder { color:#535353; text-transform: uppercase;font-family: "Neutraface2Display bold";letter-spacing: 2px;}
			}
			hr {
				border-left: none;
				border-right: none;
				border-bottom: none;
				border-top: 1px solid #cbcbcc;
			}
		}
	}

	#savePopup, #exitPopup, #confirmPopup, #deletePopup{
		-webkit-animation-duration: 0.4s;
		animation-duration: 0.4s;
		z-index:999;
		background-color: rgba(255,255,255,0.8);
		display: block;
		position: absolute;
		top:0px;
		height: 100%;
		width: 100%;
		padding: 20px 10px;
		visibility: hidden;
		.popupPosition{
			position: relative;
			width: 100%;
			height: 100%;
			.savePopupBox, .exitPopupBox, .confirmPopupBox, .deletePopupBox{
				-webkit-animation-duration: 0.4s;
				animation-duration: 0.4s;

				padding: 16px;
				background-color: #00acec;
				position: absolute;
				top: 0;
				width: 100%;

				.text-container{
					p{
						color:white;
						text-align:center;
						line-height: 18px;
						letter-spacing: 1px;
						margin: 5px auto 10px auto;
					}
					h3{
						font-size: 20px;
						color:white;
						text-align:center;
						line-height: 23px;
					}
				}
				.button{
					letter-spacing: 3px;
					background-color: rgba(255,255,255,0.9);
					font-family: "Neutraface2Display bold";
					text-transform: uppercase;
					margin-bottom:5px;
					&.save, &.cancelsave, &.delete{
						font-family: "Neutraface2Display titling";
						font-weight: bold;
					}
				}
			}
		}
	}
	//#exitPopup{
	//	padding: 20px 10px;
	//	.text-container{
	//		padding-bottom: 12px;
	//	}
	//	.popupPosition .exitPopupBox .button{
	//		height: 42px;
	//		&.save, &.cancelsave{
	//			padding-top: 6px;
	//			margin-top:0px;
	//			line-height: 16px;
	//		}
    //
	//	}
	//}
}