#login {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-size: cover;
	background-image: url("images/login/background.jpg");
	background-position: bottom center;
	overflow: hidden;
	.terms {
		color:#fff;
	}
	.content-container {
		position: relative;
		margin-top: 60px;
		.close {
			position: absolute;
			right: 0px;
			top: -25px;
		}
		form {
			background-color: #452c8c;
			padding: 13px;

			p.remember{
				color: white;
				font-size: 10px;
				display: inline-block;
				vertical-align: top;
				padding-top: 17px;
				padding-left: 5px;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
			input {
				height: 40px;
				width: 100%;
				background-color: #c8c0dd;
				color: #454545;
				border: none;
				padding: 10px;
				line-height: 25px;
				font-family: "Helvetica";
				font-size: 14px;
				border-radius: 0px;
				&::-webkit-input-placeholder {
					letter-spacing: 3px;
					text-transform: uppercase;
					line-height:24px;
				}
			}
			#remember-box{
				background-color:transparent;
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-top: 15px;
				margin-left: 12px;
				border: 1px solid #c8c0dd;
				&.checked{
					background-image: url('images/custom-icons/tick-icon.png');
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			#login-submit {
				margin-top: 12px;
				background-color: #edeaf4;
				font-family: "Neutraface2Display titling";
				letter-spacing: 3px;
				line-height: 25px;
			}
			#password-login {
				margin-top: 4px;
				line-height: 25px;
			}
			.form-options {
				padding: 11px 0px;
				.lost {
					text-decoration: none;
					color: white;
					font-size: 10px;
					float: left;
					letter-spacing: 3px;
					line-height: 12px;
				}
				.register {
					text-decoration: none;
					font-size: 10px;
					float: right;
					color: white;
					letter-spacing: 3px;
					line-height: 12px;
				}
			}
		}
	}
}

//Forgot password
#LoginForgot, #LoginForgotSuccess{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-size: cover;
	background-image: url("images/login/background.jpg");
	background-position: bottom center;
	overflow: hidden;
	.content-container{
		position:relative;
		margin-top: 45px;
		padding:0px;
		.close{
			position: absolute;
			right: 0px;
			top: -25px;
		}
		form{
			background-color: rgba(1,1,1,0.75);
			margin: 0px 25px;
			padding: 15px;
			padding-top: 1px;
			h2{
				text-align: center;
				color: #ffffff;
				margin: 15px 0px;
				margin-bottom: 8px;
				width: 100%;
			}
			p{
				color: #ffffff;
				padding-bottom: 10px;
				text-align: center;
			}

			input {
				height: 40px;
				width: 100%;
				background-color: #c8c0dd;
				color: #454545;
				border: none;
				padding: 10px;
				line-height: 25px;
				font-family: "Helvetica";
				font-size: 14px;
				border-radius: 0px;
				&::-webkit-input-placeholder {
					letter-spacing: 3px;
					text-transform: uppercase;
					line-height:24px;
				}
			}
			.done{
				display: block;
				margin-top:7px;
				height: 40px;
				width: 100%;
				background-color: #ebedee;
				border-radius: 0px;
				color: #454545;
				border: none;
				padding: 10px;
				font-family: "Neutraface2Display bold";
				text-transform: uppercase;
				letter-spacing: 3px;
				line-height: 25px;
				font-size: 11px;
				text-decoration: none;
				text-align: center;
			}
			#forgot-submit{
				margin-top:14px;
				background-color: #ebedee;
				border-radius: 0px;
				font-family: "Neutraface2Display titling";
				letter-spacing: 3px;
				line-height: 25px;
			}
			#email{
				margin-top:4px;
				line-height: 25px;
			}
			#forgot-resubmit{
				margin-top:12px;
				font-size: 8px;
				background-color: #ebedee;
			}
		}
	}
}

#login-error{
	display:none;
	&.animated{
		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
	}
}