#mainmenu{
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
}
#mainpage{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	body{
		-webkit-overflow-scrolling: touch;
	}
    .banner-image h1.pagetitle{
		text-align: center;
		color: #01AEEF;
		font-family: "neutraface2display titling";
		letter-spacing: 5px;
		text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
	}
	.menu-list{
		ul{
			padding:20px;
			li{
                display: block;
				height: 70px;
				border-bottom: 1px solid #efeff0;
				background-repeat: no-repeat;
				background-size: 45px;
				background-position: center left;
				a{
					background-image: url('images/custom-icons/arrow-icon.png');
					background-position: center right;
					background-repeat: no-repeat;
					text-decoration: none;
					width: 100%;
					height: 100%;
					padding-left: 60px;
					padding-right: 20px;
					color:black;
					display: table;
					
					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
				&.first{
					border-top: 1px solid #efeff0;
				}
			}
		}
	}
}