.profile-header {
	position: fixed;
	top: 0;
	width:100%;
	z-index: 50;
}
#profile{
	overflow-x: hidden;
	width: 100%;
	height: initial;
	display: block;
	position: absolute;
	background-size: cover;
	background-image: url("images/login/background.jpg");
	background-position: bottom center;
	padding-bottom:20px;
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;

	}

	.lost {
		font-size: 10px;
		color: white;
		letter-spacing:3px;
		text-decoration: none;
		display: inline-block;
		margin-top:10px;
	}

	body{
		-webkit-overflow-scrolling: touch;
	}
	.content-container{
		background-color: rgba(1,1,1,0.75);
		padding: 11px 15px 10px 15px;
		margin: 56px auto 0 auto;
		max-width:90%;
		h2{
			text-align: center;
			color: #ffffff;
			margin: 5px 0px;
			font-size: 16px;
			&.contact{
				margin-top: 18px;
				margin-bottom: 0;
			}
		}
		.close{
			position: absolute;
			right: 0px;
			top: -25px;
		}
		form{
			input{
				height: 40px;
				width: 100%;
				background-color: #c5c8ca;
				border-radius: 0px;
				color: #454545;
				border: none;
				padding: 10px;
				font-family: "Helvetica";
				line-height: 25px;
				font-size: 12px;

				&::-webkit-input-placeholder { /* WebKit browsers */
					line-height:29px;
					font-family: "Neutraface2Display bold";
					letter-spacing: 3px;
					text-transform: uppercase;
				}
                &.submit{
	                display: block;
	                height: 40px;
	                width: 100%;
	                background-color: #c5c8ca;
	                color: #454545;
	                margin-top: 4px;
	                text-align: center;
	                text-transform: uppercase;
	                text-decoration: none;
	                font-family: "Neutraface2Display titling";
	                letter-spacing: 3px;
	                &.ng-valid{
		                background-color: #ebedee;
	                }
                }
			}
			#change-password{
				margin: 15px 0px;
				background-color: #ebedee;
				font-family: "Neutraface2Display titling";
				letter-spacing: 3px;
				line-height: 25px;
				border-radius: 0px;
			}
			#fullname, #email, #password, #password-old, #password-new, #password-repeat{
				margin-top:4px;
				line-height: 25px;
			}
			#password-old{
				margin-top: 14px;
			}
			#password-old, #password-new, #password-repeat{
				background-color: #ffffff;
			}
			.disabled-password{
				&.show{
					visibility: visible;
				}
				&.hide{
					visibility: hidden;
					display: none;
				}
			}
			.change-password{
				&.show{
					visibility: hidden;
					display: none;
				}
				&.hide{
					visibility: visible;
				}
			}
			.buttons{
				&.option1{
					.status-message{
						color: rgb(63, 187, 63);
						text-align:center;
						text-transform: uppercase;
						font-family: "Neutraface2Display bold";
					}
					&.show{visibility: visible;}
					&.hide{visibility: hidden;display: none;}
					.btn {
						background-color:#ebedee;
						color:#454545;
					}
				}
				&.option2{
					.btn{
						display:inline-block;
						width: 48%;
						width: calc(50% - 8px);
						margin-bottom: 20px;
						&.left{float:left;}
						&.right{float:right;}
					}
					&.show{visibility: hidden;display: none;}
					&.hide{visibility: visible;}
				}
			}
		}
		.contact-section{
			display: inline-block;
			width:100%;
			ul.circle-links{
				li{
					border-bottom: 0px solid #cbcbcc;
					display: inline-block;
					width: 33.3%;
					padding: 10px;

					&.first, &.second{
						float:left;
					}
					&.third{
						float:right;
					}
					a{
						color: white;
						text-align: center;
						display: block;
						text-transform: uppercase;
						text-decoration: none;
						font-family:"Neutraface2Display bold";
						letter-spacing: 2px;
						font-size: 10px;
						line-height: 13px;
						img{
							width: 100%;
							height:auto;
							-webkit-border-radius:50%;
							-moz-border-radius:50%;
							border-radius:50%;
						}
					}
				}
			}
		}
		.buttons{
			padding-top: 5px;
			clear: both;
			display: inline-block;
			width: 100%;

			&.bottom {
				padding-top: 0;
			}

			a.btn, a.btn-red{
                display:block;
				height: 37px;
				width: 100%;
				background-color: transparent;
				color: #fff;
				margin-top: 4px;
				line-height:37px;
				text-align:center;
				text-transform: uppercase;
				text-decoration: none;
				font-family:"Neutraface2Display titling";
				letter-spacing: 3px;
				font-size: 11px;
			}
			a.btn-red{
                background-color: #a91215;
				color:white;
			}

			&.option2 {
				p {
					margin-bottom:16px;
				}
				.btn {
					background-color: #fff;
					color: black;
					width: 47%;

					&.left {
						float: left;
					}
					&.right {
						float:right;
					}
				}
			}
		}
	}
}

#popup{
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}