#questions{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	body{
		-webkit-overflow-scrolling: touch;
	}
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}

	h3{
		color: #04adee;
		padding-left: 23px;
		position: relative;
		span{
			position: absolute;
			left: 0;
		}
	}
	.keypoint-item h3 {
		margin-bottom:6px;
	}
}

#question{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

	.description {
		margin-top:10px;

		.text {
			padding-top: 28px;
			margin-top: -28px;
			background: white;
			position: relative;
			z-index: 10;
		}
	}

	.menu-item {
		position: relative;
		padding: 20px 0 !important;
		border-bottom: 1px solid #efeff0;
		background-image: url("images/custom-icons/dropdown-icon.png");
		background-position: top 50% right 20px;
		background-size: 18px;
		background-repeat: no-repeat;

		h3, h4 {
			padding-right: 20px;
		}
	}

	.banner-video {
		margin-top:50px;
	}
	overflow-x: hidden;
	body{
		-webkit-overflow-scrolling: touch;
	}

	.title-section {
		padding-left:20px;
		padding-right:20px;
	}
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.hidden{
		display:none;
	}
	#ytplayer{
		display:none;
	}
	.content-container ul.menu {
		-webkit-transform: translate3d(0,0,0);
		li.menu-item{
			background-image: url("images/custom-icons/dropdown-icon.png");
			background-position: top 50% right 20px;
			background-size: 18px;
			padding: 0;
			padding-bottom: 8px;
			&.toggle{
				background-image: none;
			}
			div:first-child{
				padding-top: 20px;
				padding-bottom: 5px;
			}
			&.keypoint-item{
				padding: 20px 0;
			}
		}
	}

	.description {
		> * {
			padding-left:20px;
			padding-right:20px;
		}
		.video {
			padding-left:0 !important;
			padding-right:0 !important;
		}
	}
}