#register{
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-size: cover;
	background-image: url("images/login/background.jpg");
	background-position: bottom center;
	overflow: hidden;

	.content-container{
		position:relative;
		margin-top: 45px;

		.close{
			position: absolute;
			right: 0px;
			top: -25px;
		}
	}

	.denied h3 {
		color:#fff;
		font-weight: normal;
		margin: 15px 0;
	}

	.form{
		background-color: #452c8c;
		padding: 13px;
		p {
			color: #fff;
		}
		h2{
			text-align: center;
			color: #ffffff;
			margin: 15px 0px;
		}
		input{
			height: 40px;
			width: 100%;
			background-color: #c5c8ca;
			border-radius: 0px;
			color: #454545;
			border: none;
			padding: 10px;
			font-family: "Helvetica";
			line-height: 25px;
			font-size: 14px;

			&::-webkit-input-placeholder {
				letter-spacing: 3px;
				text-transform: uppercase;
				line-height:24px;
			}
		}
		.error-section{
			text-align: center;
			color:rgb(255, 129, 129);
			.error b{
				font-weight:700;
			}
		}
		#register-submit{
			margin-top:12px;
			background-color: #ebedee;
			font-family: "Neutraface2Display titling";
			letter-spacing: 3px;
			line-height: 25px;
			border-radius: 0px;
		}
		#firstname, #lastname, #email-register, #password{
			margin-top:4px;
			line-height: 20px;
		}
		.form-options a, .form-options p{
			display: block;
			text-align: center;
			text-decoration: none;
			padding-top: 15px;
			color:white;
			line-height: 16px;
		}

		.buttons {
			margin: 25px 0;

			a {
				margin-top: 12px;
				background-color: #edeaf4;
				font-family: "Neutraface2Display titling";
				letter-spacing: 3px;
				line-height: 25px;
				height: 40px;
				width: 100%;
				color: #454545;
				border: none;
				padding: 10px;
				font-size: 14px;
				border-radius: 0px;
				display: block;
				text-align: center;
				text-decoration: none;
			}
		}
	}
}

#TermsConditions{
	overflow-x: hidden;
	background-size: cover;
	background-image: url("images/login/background.jpg");
	background-position: bottom center;
	background-attachment: fixed;
	position: relative;
	height:100%;
	.content-container{
		background-color: rgba(255, 255, 255, 0.7);
		display: inline-table;
		z-index: 15;
		height: 100%;
		&.animated{
			-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
		}
	}
	h2{
		margin: 10px 20px;
		margin-top: 40px;
		text-align: center;
	}
	.close{
		position: absolute;
        top: 10px;
		right: 10px;
	}
	.text-section{
        -webkit-transform: translate3d(0,0,0);
		background-color: transparent;
		padding: 25px 0px;
	}
}

#register-success,#register-error,#register-exists{
	display:none;
	&.animated{
		-webkit-animation-duration: 0.3s;
		animation-duration: 0.3s;
	}
}