#scenarios{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
}

#scenario{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.hidden{
		display:none;
	}
}