body#top{
	overflow-x: hidden;
}

.single-page{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.text-content{
		-webkit-transform: translate3d(0,0,0);
		padding:20px;
	}
}

//Default styles for generic pages
.blue-box{
	-webkit-transform: translate3d(0,0,0);
	background-color:#04adee;
	display:block;
	min-height:50px;
	padding-top: 20px;
	p{
		padding: 0px 20px;
		padding-bottom: 20px;
		color:#ffffff;
	}
}

.banner-image{
	-webkit-transform: translate3d(0,0,0);
	height:150px;
	position: relative;
	background-size: cover;
	background-position: center;
	margin-top:50px;
	display: table;
	width: 100%;
}

.content-container{
	position: relative;
	padding: 0px 20px;
	.title-section{
		padding:0 0 20px 0px;
		border-bottom: 1px solid #efeff0;
	}
	ul.menu{
		-webkit-transform: translate3d(0,0,0);
		li.menu-item{
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			padding:20px 0px;
			display: block;
			border-bottom: 1px solid #efeff0;
			background-repeat: no-repeat;
			background-size: 55px;
			background-position: center left;
			position:relative;
		}
	}
	.typography.hidden{
		display:none;
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #6F6F6F;
}

.scenario-list, .question-list{
	ul{
		-webkit-transform: translate3d(0,0,0);
		padding:0px 20px;
		li.keypoint-item{
			padding:20px 0px;
			display: block;
			border-bottom: 1px solid #efeff0;
			background-repeat: no-repeat;
			background-size: 55px;
			background-position: center left;
			a{
				background-image: url('images/custom-icons/arrow-icon.png');
				background-position: center right;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				display: block;
				padding-right: 20px;
			}
		}
	}
}

.grey-box{
	background-color: rgba(1, 1, 1, 0.75);
	margin: 0px 20px;
	margin-top: 60px;
	padding: 15px;
	padding-top: 0px;
	.content-position{
		h3{
			color: #ffffff;
			text-align: center;
			padding: 30px;
		}
		.buttons{
			a{
				color:black;
				text-decoration: none;
				display:block;
				text-align:center;
				margin-top: 6px;
				background-color: #ebedee;
				border-radius: 0px;
				font-family: "Neutraface2Display titling";
				letter-spacing: 3px;
				line-height: 25px;
				padding: 10px;
			}
		}
	}
}

#dosdonts {
	.content-container ul.menu {
		-webkit-transform: translate3d(0,0,0);
		li.menu-item{
			background-image: url("images/custom-icons/dropdown-icon.png");
			background-position: top 50% right 0;
			background-size: 18px;
			padding: 0;
			padding-bottom: 8px;
			&.toggle{
				background-image: none;
			}
			div:first-child{
				padding-top: 20px;
				padding-bottom: 5px;
			}
			&.keypoint-item{
				padding: 20px 0;
			}
		}

	}
	.remove-arrow{
		background-image: none !important;
	}
}

// Make iframes scroll with page
iframe{
	overflow: hidden;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.unselectable *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scroll-bounce{
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

.blur-toggle{
	-webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
	-webkit-transition: all 0.2s linear;
	transition        : all 0.2s linear;
	-moz-transition   : all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition     : all 0.2s linear;
	&.blur-on{
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-ms-filter: blur(10px);
		-o-filter: blur(10px);
		filter: blur(10px);
	}
	&.blur-off{
		-webkit-filter: blur(0px)!important;
		-moz-filter: blur(0px)!important;
		-ms-filter: blur(0px)!important;
		-o-filter: blur(0px) !important;
		filter: blur(0px) !important;
	}
}