@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

body.starting-page {
	height: 100% !important;
}

#startingpage{
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	overflow-x: hidden;
	#introduction{
		position: relative;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		padding: 40px;
		display: table;
		.intro-content{
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			.c2c-logo{
				display: block;
				min-height:150px;
				width: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position-x: center;
				background-image: url('images/startingpage/c2c-logo.png');
			}
			p{
				margin-top:20px;
				text-align:center;
			}
		}
	}

	.content-container{
		padding: 0px;
		height: 100%;
		.black-transparency{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.7);
		}
		.slider{
			height: 100%;
			.slide{
				display: inline-block;
				height: 100%;
				width: 100%;
				border: none;
				.image{
					display: block;
					height: 100%;
					width: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				
				.button {
					@include aspect-ratio(1,1);
					position: absolute;
					width: 37.86%;
					display: inline-block;
					z-index: 10;
					top: 48%;

					&:before {
						content:'';
						background-size: 100% auto;
						background-repeat:no-repeat;
						background-position: center top;
					}

					&.register{
						left: 9%;
						&:before {
							content: '';
							display: block;
							background-image:url('../images/startingpage/explore-button.png');
						}
					}
					&.login{
						right: 9%;
						&:before {
							content: '';
							display: block;
							background-image:url('../images/startingpage/login-button.png');
						}
					}
				}
			}
		}
		.slide-indicator{
			display: block;
			position: absolute;
			text-align: center;
			min-width: 100%;
			bottom: 11.5%;
			span{
				margin:0 4px;
				color: transparent;
				width: 8px;
				height: 8px;
				display: inline-block;
				background:#fff;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;
				position: relative;
				&.active:after{
					content: '';
					display: block;
					position: absolute;
					width: 12px;
					height: 12px;
					border: 1px solid #fff;
					background: none;
					-webkit-border-radius:50%;
					-moz-border-radius:50%;
					border-radius:50%;
					top: 50%;
					left: 50%;
					margin-top: -6px;
					margin-left: -6px;
				}
			}
			span:last-of-type {
				background: #cc2429;
				&.active:after{
					border: 1px solid #cc2429;
				}
			}
		}
		.buttons{
			padding: 0 35px;
			width: 100%;
			position: absolute;
			bottom: 25px;
				.left-button, .right-button{
					display: inline-block;
					height: 42px;
					width: 49%;
					background-color: #ffffff;
					a{
						font-family: "Neutraface2Display bold";
						color:#000000;
						text-decoration: none;
						text-align: center;
						line-height: 46px;
						display: block;
						text-transform: capitalize;
						letter-spacing: 3px;
						font-size: 12px;
					}
				}
				.right-button{
					float:right;
					a{
						font-family: "Neutraface2Display titling";
					}
				}
		}
	}
}