.content-section{
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	#guides{
		z-index: 500;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		position: absolute;
		top: 0;
		color:white;
		display: table;
		nav{
			background-color: rgba(0, 0, 0, 0.22);
		}
		.text-description{
			-webkit-animation-duration: 4s;
			animation-duration: 4s;

			width: 70%;
			text-align: center;
			margin: 0 auto;
			padding-top: 80px;
			h3{
				margin-bottom:40px;
			}
		}
		.menu-icon-position{
			position: absolute;
			top: -99px;
			.menu-icon{
				animation-iteration-count: infinite;
				-moz-animation-iteration-count: infinite;
				-webkit-animation-iteration-count: infinite;

				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("images/custom-icons/menu-icon.png");
				width: 35px;
				height: 35px;
				display: inline-block;
				margin: 10px 0px;
				margin-left: 10px;
			}
		}
		.text-caption{
			&.left{top: 20px;left: 4px;}
			&.right{top: 40px; right: 4px;}
			position: absolute;
			display: inline-block;
			top: 0;
			h3{
				margin-bottom:40px;
			}
			.top-left{
				background-image: url('images/guides/top-left.png');
				background-repeat: no-repeat;
				background-position: 30px;
				display: block;
				.purple-tag{
					padding-top: 45px;
					p{
						background-color: #652C91;
						padding: 10px 26px;
						border-radius: 10px;
					}
				}
			}
			.top-right{
				background-image: url('images/guides/top-right.png');
				background-repeat: no-repeat;
				background-position-x: 115px;
				display: block;
				.purple-tag{
					padding-left: 20px;
					padding-top:70px;
					p{
						background-color: #652C91;
						padding: 10px 26px;
						border-radius: 10px;
					}
				}
			}
		}

		.button{
			display: table-cell;
			padding: 50px;
			vertical-align: middle;
			p{
				color:white;
				padding: 12px;
				letter-spacing:3px;
				background-color: #4d4d4f;
				font-family:"Neutraface2Display titling";
			}
		}
	}
}