.menu-item.toggle {
	background-image:none !important;
}

.wistia_click_to_play {
	border: none !important;
	width: 100% !important;
}
#whenamicoach{
	height: 100%;
	width: 100%;
	overflow-x: hidden;

	//.description .text {
	//	padding-top: 28px;
	//	margin-top: -28px;
	//	background: white;
	//	position: relative;
	//	z-index: 10;
	//}

	.menu-item {
		position: relative;
		padding: 20px 0 !important;
		border-bottom: 1px solid #efeff0;
		background-image: url("images/custom-icons/dropdown-icon.png");
		background-position: top 50% right 20px;
		background-size: 18px;
		background-repeat: no-repeat;
	}

	.banner-video {
		margin-top:50px;
	}
	body{
		-webkit-overflow-scrolling: touch;
	}
	&.animated{
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
	}
	.content-container{
		.description{
			margin-top: 10px;
			-webkit-animation-duration: 0.2s;
			animation-duration: 0.2s;

			> * {
				padding-left:44px;
				padding-right:20px;
			}
			.video {
				padding-left:0 !important;
				padding-right:0 !important;
			}
		}

		h3, h4 {
			padding-right: 24px;
		}
        h2.video-header {
            font-size: 28px;
            line-height: 30px;
        }

		ul.menu {
			-webkit-transform: translate3d(0, 0, 0);
			li.menu-item {
				background-image: url("images/custom-icons/dropdown-icon.png");
				background-position: top 50% right 20px;
				background-size: 18px;
				padding: 0;
				padding-bottom: 8px;
				&.toggle {
					background-image: none;
				}
				div:first-child {
					padding-top: 20px;
					padding-bottom: 5px;
				}
				&.keypoint-item {
					padding: 20px 0;
				}
			}
		}
	}
}