.toggle-buttons{
	margin-top:3px;
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid #386790;
	.toggle-button{
		background-color: #fff;
		letter-spacing: 3px;
		color:#585858;
		display: inline-block;
		text-align: center;
		width: 50%;
		height:40px;
		line-height:40px;
		font-family: "Neutraface2Display titling";
		&.left{
			float:left;
			border-right: 2px solid white;
		}
		&.right{
			float:right;
			border-left: 2px solid white;
		}
		&.selected{
			background-color: #386790;
			color: #fff;
		}
	}
}

.button{
	color:#000000;
	text-decoration: none;
	text-align: center;
	line-height: 42px;
	display: block;
}
