.header-logo {
    height: 100%;
    max-height: 32px;
    margin: auto;
    position: absolute;
    left: 70px;
    right: 70px;
    top: 0;
    bottom: 0;
    z-index: 100;
}

header {
    position: fixed;
    left:0;
    right:0;
    top: 0;
    height: 50px;
    z-index: 200;
    width:100%;
    .dropdown{
        height:0;

    }
}
nav{
    //-webkit-transform: translate3d(0,0,0);
    position: fixed;
    left:0;
    right:0;
	top: 0;
    background-color: #6f235d;
	height:50px;
	z-index: 200;
	width: 100%;
	a.back-icon{
		background-size: 17px auto;
		background-repeat: no-repeat;
		background-image: url("images/custom-icons/back-icon.png");
        background-position: 13px center;
		width:60px;
		height: 100%;
		display: inline-block;
	}
	a.profile-icon{
		background-size: 25px auto;
		background-repeat: no-repeat;
		background-image: url("images/custom-icons/gear-icon.png");
        background-position:center;
		width:60px;
		height: 100%;
		display: inline-block;
		float:right;
	}
	a.menu-icon{
		background-repeat: no-repeat;
		background-image: url("images/custom-icons/menu-icon.png");
        background-position: center;
        background-size: 25px auto;
		width:60px;
		height: 100%;
		display: inline-block;
	}
	a.close-icon{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("images/custom-icons/close-icon.png");
		width:23px;
		height: 30px;
		display: inline-block;
		float:right;
		margin: 10px 0px;
		margin-right: 10px;
	}
}

.nav-wrapper {
    position: fixed;
    left:0;
    right:0;
    top: 0;
    height:50px;
    width:100%;
    z-index: 150;
}

.dropdown{
  position:relative;
    top: 50px;
  .dropdown-list {
    display: none;
    position: absolute;
    width: 290px;
    z-index: 1000;
    background-color: white;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 18px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 18px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 18px -5px rgba(0,0,0,0.5);
    ul li {
      background-image: url("images/custom-icons/arrow-icon2.png");
      background-position: center right;
      background-repeat: no-repeat;
      display: block;
      line-height: 50px;
      color: black;
      border-bottom: 1px solid #efeff0;
      height: 50px;
      padding-left: 15px;
      &.first{
        border-top: 1px solid #efeff0;
      }
      a {
        letter-spacing: 0.5px;
        font-family: "Helvetica";
        text-decoration: none;
        color: #424242;
        display: block;
        line-height: 50px;
        &.selected{
          font-weight: bold;
        }
      }
    }
  }
}

.close-dropdown{
  display:none;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 100;
}