/* Main Colours */
$primary-color: #888;
$secondary-color: #ffefc4;
$brown: rgb(174,131,70);
$darkblue: rgb(6,47,75);
$light-brown: #D4BFA2;
$black: rgb(30,30,30);


@font-face {
	font-family: "Neutraface2Display bold";
	src: url("fonts/Neutraface%202%20Display/Neutraface2Display-Bold.otf");
}

@font-face {
	font-family: "Neutraface2Display titling";
	src: url("fonts/Neutraface%202%20Display/Neutraface2Display-Titling.otf");
}


@font-face {
	font-family: "Helvetica";
	src: url("fonts/Helvetica%20TTF/HelveticaNeueMedium.ttf");
}

/* Fonts */
$primary-font: 'Helvetica';
$secondary-font1: 'Neutraface2Display bold';
$secondary-font2: 'Neutraface2Display titling';

.unselectable{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}